/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/*** GENERALE ***/
* {
  /* `Nerd Font` is required to be installed for icons ex:JetBrainsMono Nerd Font Mono Semi-Bold" */
  font-family: "FiraCode Nerd Font", FontAwesome;
  box-shadow: none;
  transition: all 0.7s ease-in-out;
  text-shadow: 1px 1px 1px @background;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
  /*background-color: rgba(0, 0, 0, 0.0);*/
  font-weight: bold;
  transition-property: all;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.5s;
  border-radius: 0px;
  font-size: 11pt;
  background: alpha(@background, 0);
  color: @foreground;
}

label.module {
  font-size: 11pt;
  padding: 0 3px;
  margin: 0 2px;
  /* top | right | bottom | left */
  min-width: 16px;
  border: none;
  color: @foreground;
}

.modules-center {
  border-radius: 8px;
  padding: 0px 6px;
  /* top | right | bottom | left */
  margin: 2px 4px 4px 4px;
  box-shadow: -1px -1px 4px alpha(@accent, 0.5);
  border: 1px solid alpha(@accent, 0.5);
  background-image: linear-gradient(0deg, @background, @background, alpha(@background, 0.6));
}

/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
  color: @foreground;
}

#battery.warning {
  color: @warning_color;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #ff0000;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @warning_color;
}

/*  MENU  */
#custom-weather,
#custom-menu {
  /* top | right | bottom | left */
  font-size: 12pt;
  padding: 0px 3px;
  margin: 0px 0px;
  font-family: "Cantarell";
}

/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
  font-size: 12pt;
  color: @foreground;
}

#idle_inhibitor.activated {
  font-size: 12pt;
  color: @accent;
}

/*  TEMPERATURE  */
#temperature.critical {
  color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
  color: @warning_color;
}

#custom-prayer {

  font-size: 12pt;
  font-weight: bold;
  font-family: "Cantarell";

}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#temperature,
#memory,
#cpu,
#disk,
#clock {
  min-width: 30px;
  font-size: 11pt;
  margin: 0px;
  font-family: "Cantarell";
  
}

#tray {
  margin: 0px 2px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

@keyframes blink-update {
  to {
    background-color: rgb(255, 30, 30);
  }
}

#custom-separator {
  font-size: 12pt;
  color: alpha(@foreground, 0.2);
  padding: 0px;
  margin: 0px;
}

/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓   ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓    ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛    ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/
#workspaces {
  /* font-size: 10pt; */
  border-radius:0px;
  margin: 0px 5px;
  padding: 0px 2px;
  box-shadow: none;
}

#workspaces button {
  box-shadow: none;
  /* text-shadow: 1px 1px 1px @background; */

  margin: 0px 0px;
  padding: 0px 5px;
  font-size:0pt;
    background-image: url("./icons/workspace-pre.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: gradient_f 20s ease-in infinite;
     transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682)
  /*  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682) */
}

#workspaces button.empty {
    background-image: url("./icons/workspace-empty.svg");
}

#workspaces button.active {
    min-width: 25px;
    background-image: url("./icons/workspace-active.svg");

}

#workspaces button:hover {
    background-color: transparent;
}

/* #workspaces button.empty:hover,
#workspaces button:hover {
  background: alpha(@accent, 0.5);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
} */

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  margin: 2px 2px;
  padding: 0px 4px;
  border-radius: 4px;
  background-color: transparent;
  border-top: 2px solid @accent;
}

#taskbar button.active {
  background-color: @accent;
  border-radius: 4px;
}

#taskbar button:hover,
#taskbar button.active:hover {
  transition-duration: 0.3s;
  background: @accent;
  transition-property: background-color;
  border-radius: 4px;
}

#taskbar button.urgent,
#workspaces button.urgent {
  background-color: @warning_color;
}

/*---------------------------
   ╻  ┏━┓╻ ╻┏━╸╻ ╻┏━╸┏━┓┏━┓
   ┃  ┣━┫┃ ┃┃  ┣━┫┣╸ ┣┳┛┗━┓
   ┗━╸╹ ╹┗━┛┗━╸╹ ╹┗━╸╹┗╸┗━┛
---------------------------*/
#image {
  min-height: 20px;
  min-width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2px 0px;
  padding: 0px 4px;
  font-size: 0pt;
  transition: all 0.5s ease-in-out;
}

#image:hover {
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  background-color: @accent;
}

#image.empty {
  font-size: 0pt;
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}