/* 
 * Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com>
*/

@import "../waybar/colors/colors.css";

/** ********** Fonts ********** **/
* {
    font-family: "JetBrains Mono", "Iosevka Nerd Font", archcraft, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/** ********** Main Window ********** **/
window {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("../../.cache/blured.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

/** ********** Buttons ********** **/
button {
    background-color: rgba(52, 52, 52, 0.4);
    color: #FFFFFF;
    border: 1px solid #343434;
   /* margin: 10px ;*/
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    background-size: 25%;

}

button:focus,
button:active {
    background-color:alpha(@accent, 0.5);
    outline-style: none;
    background-size: 20%;
}

/** ********** Icons ********** **/
#lock {
    background-image: image(url("icons/lock.svg"), url("/usr/share/wlogout/icons/lock.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.svg"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#suspend {
  background-image: image(url("icons/suspend.svg"), url("/usr/share/wlogout/icons/suspend.png"));
  /* topleft | topright |  bottomRight| bottomleft  */
  border-radius: 0px 80px 20px 80px;
   /* top | right | bottom | left */
  margin:5px 20px 20px 5px;
}

#logout {
    background-image: image(url("icons/logout.svg"), url("/usr/share/wlogout/icons/logout.png"));
    /* topleft | topright |  bottomRight| bottomleft  */
    border-radius: 80px 20px 80px 0px;
    /* top | right | bottom | left */
    margin:20px 20px 5px 5px;
}

#shutdown {
    background-image: image(url("icons/shutdown.svg"), url("/usr/share/wlogout/icons/shutdown.png"));
    /* topleft | topright |  bottomRight| bottomleft  */
    border-radius: 80px 0px 80px 20px;
     /* top | right | bottom | left */
     margin:5px 5px 20px 20px;
}

#reboot {
    background-image: image(url("icons/reboot.svg"), url("/usr/share/wlogout/icons/reboot.png"));
    /* topleft | topright |  bottomRight| bottomleft  */
    border-radius: 20px 80px 0px 80px;
    /* top | right | bottom | left */
    margin:20px 5px 5px 20px;
}



button:hover#reboot,
button:hover#shutdown,
button:hover#suspend,
button:hover#logout {
  background-color: @accent;
  outline-style: none;
   /* top | right | bottom | left */
  margin:0px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}