* {
    background-image: none;
    font-size: ${fntSize}px;
}

@import "$HOME/.config/waybar/theme.css";

window {
    background-color: transparent;
}

button {
    color: #FFFFFF;
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}


button:focus {
    background-color: @accent;
    background-size: 20%;
}

button:hover {
    background-color: @accent;
    background-size: 25%;
    border-radius: ${active_rad}px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: ${active_rad}px ${active_rad}px 0px ${active_rad}px;
    margin : ${y_hvr}px 0px 0px ${x_hvr}px;
}

button:hover#logout {
    border-radius: ${active_rad}px 0px ${active_rad}px ${active_rad}px;
    margin : 0px 0px ${y_hvr}px ${x_hvr}px;
}

button:hover#shutdown {
    border-radius: ${active_rad}px ${active_rad}px ${active_rad}px 0px;
    margin : ${y_hvr}px ${x_hvr}px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px ${active_rad}px ${active_rad}px ${active_rad}px;
    margin : 0px ${x_hvr}px ${y_hvr}px 0px;
}

#lock {
  background-image: image(url("icons/lock.svg"), url("/usr/share/wlogout/icons/lock.png"));
  border-radius: ${button_rad}px 0px 0px 0px;
    margin : ${y_mgn}px 0px 0px ${x_mgn}px;
}

#logout {
  background-image: image(url("icons/logout.svg"), url("/usr/share/wlogout/icons/logout.png"));
  border-radius: 0px 0px 0px ${button_rad}px;
    margin : 0px 0px ${y_mgn}px ${x_mgn}px;
}

#shutdown {
  background-image: image(url("icons/shutdown.svg"), url("/usr/share/wlogout/icons/shutdown.png"));
  border-radius: 0px ${button_rad}px 0px 0px;
    margin : ${y_mgn}px ${x_mgn}px 0px 0px;
}

#reboot {
  background-image: image(url("icons/shutdown.svg"), url("/usr/share/wlogout/icons/shutdown.png"));
  border-radius: 0px 0px ${button_rad}px 0px;
    margin : 0px ${x_mgn}px ${y_mgn}px 0px;
}