/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons ex:JetBrainsMono Nerd Font Mono Semi-Bold" */
    font-family: "FiraCode Nerd Font", FontAwesome;
    font-weight: bold;

    /*font-size: 0.5rem;*/

    /*transition: all 0.7s ease-in-out;*/
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    background: alpha(@background, 0);
    color: @foreground;
    transition-property: all;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
    border-radius: 0px;
    font-size: 10pt;
    text-shadow: 1px 1px 1px alpha(@background, 0.95);
}

#workspaces,
#trayGroup,
#taskbarGroup {
    border-radius: 8px;
    /*  background-color: @background;*/
    background-image: linear-gradient(
        0deg,
        @background,
        shade(alpha(@background, 0.7), 1.3)
    );
    margin: 0px 5px;
    padding: 0px 5px;
}

#clockGroup {
    /*background-image: linear-gradient(0deg, @accent, @accent);*/
    background-image: linear-gradient(
        0deg,
        @accent,
        shade(alpha(@accent, 0.85), 1.3)
    );
    margin: 0px 5px;
    padding: 0px 5px;
    border-radius: 8px;
}

/***  MODULES  ***/
label.module {
    font-size: 11pt;
    padding: 0 2px;
    margin: 0 2px;
    /* top | right | bottom | left */
    min-width: 20px;
    border: none;
    /*background-color: @background;*/
    color: @foreground;
}

/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: #f4375d;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #f4375d;
}

/*  MENU  */

#custom-menu {
    font-size: 14pt;
    padding: 0 3 0 7px;
    border-radius: 6px;
    margin: 0px 4px;
    /*  background-color: @accent;*/
    /* background-image: linear-gradient(120deg, #53d6f6, #0364e2);*/
    color: @foreground;
    border: none;
}

/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
    color: @foreground;
    font-size: 14pt;
}

#idle_inhibitor.activated {
    color: @accent;
    font-size: 14pt;
}

/*  TEMPERATURE  */
#temperature.critical {
    color: #f4375d;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: #f4375d;
}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#custom-prayer {
    font-size: 12pt;
}
#custom-weather,
#clock {
    font-size: 12pt;
    color: @background;
    margin: 0 5px;
    font-family: "Cantarell";
    text-shadow: 1px 1px 2px alpha(@foreground, 0.95);
}

#custom-weather {
    font-size: 14pt;
    font-family: "Cantarell";
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}

/*-----------------*/
/*     MEDIA       */
/*-----------------*/
#custom-media_play {
    font-size: 14pt;
    margin: 0px 3px;
    padding: 0px 3px;
    min-width: 18px;
    min-height: 18px;
    color: #ffffff;
}

#custom-separator {
    font-size: 14pt;
    color: alpha(@foreground, 0.3);
    margin: 0px;
    padding: 0px;
}

/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓   ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓    ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛    ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/

#workspaces {
    padding: 0px 7px;
    margin: 0px 0px;
    box-shadow: none;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    margin: 5px 2px;
    padding: 0px 4px;
    border-radius: 50%;
    color: @foreground;
    border: none;
    /*  animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682) */
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    margin: 2px 2px;
    padding: 0px 4px;
    border-radius: 0;
    color: alpha(@foreground, 0.7);
    border-top: 2px solid @accent;
    /*  animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682) */
}

#workspaces button.empty:hover,
#taskbar button:hover,
#workspaces button:hover {
    background: alpha(@accent, 0.5);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.empty {
    color: alpha(@foreground, 0.5);
    background-color: transparent;
}

#workspaces button.active {
    color: @foreground;
    background-color: @accent;
}

#taskbar button.active {
  background-color:@accent;
  border-radius:4px;
}

#taskbar button.urgent,
#workspaces button.urgent {
    background-color: #f4375d;
}

#image {
  min-height: 20px;
  min-width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 2px 0px;
  padding: 0px 4px;
  font-size: 0pt;
  transition: all 0.5s ease-in-out;
}

#image:hover {
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  background-color: @accent;
}

#image.empty {
  font-size: 0pt;
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}

