/* GTK NAMED COLORS ---------------- use responsibly! */
@define-color destructive_bg_color @red_4;
@define-color destructive_fg_color white;
@define-color success_bg_color @green_5;
@define-color success_fg_color white;
@define-color warning_bg_color #cd9309;
@define-color warning_fg_color RGB(0 0 0 / 80%);
@define-color error_bg_color @red_4;
@define-color error_fg_color white;
@define-color accent_color oklab(from @accent_bg_color max(l, 0.85) a b);
@define-color destructive_color oklab(from @destructive_bg_color max(l, 0.85) a b);
@define-color success_color oklab(from @success_bg_color max(l, 0.85) a b);
@define-color warning_color oklab(from @warning_bg_color max(l, 0.85) a b);
@define-color error_color oklab(from @error_bg_color max(l, 0.85) a b);
@define-color window_bg_color #242424;
@define-color window_fg_color white;
@define-color view_bg_color #1e1e1e;
@define-color view_fg_color white;
@define-color headerbar_bg_color #303030;
@define-color headerbar_fg_color white;
@define-color headerbar_border_color white;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color RGB(0 0 0/36%);
@define-color headerbar_darker_shade_color RGB(0 0 0/90%);
@define-color sidebar_bg_color #303030;
@define-color sidebar_fg_color white;
@define-color sidebar_backdrop_color #2a2a2a;
@define-color sidebar_shade_color RGB(0 0 0/25%);
@define-color sidebar_border_color RGB(0 0 0/36%);
@define-color secondary_sidebar_bg_color #2a2a2a;
@define-color secondary_sidebar_fg_color white;
@define-color secondary_sidebar_backdrop_color #272727;
@define-color secondary_sidebar_shade_color RGB(0 0 0/25%);
@define-color secondary_sidebar_border_color RGB(0 0 0/36%);
@define-color card_bg_color RGB(255 255 255/8%);
@define-color card_fg_color white;
@define-color card_shade_color RGB(0 0 0/36%);
@define-color dialog_bg_color #383838;
@define-color dialog_fg_color white;
@define-color popover_bg_color #383838;
@define-color popover_fg_color white;
@define-color popover_shade_color RGB(0 0 0/25%);
@define-color thumbnail_bg_color #383838;
@define-color thumbnail_fg_color white;
@define-color shade_color RGB(0 0 0/25%);
@define-color scrollbar_outline_color RGB(0 0 0/95%);
:root { --standalone-color-oklab: max(l, 0.85) a b; --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab)); --destructive-color: oklab(from var(--destructive-bg-color) var(--standalone-color-oklab)); --success-color: oklab(from var(--success-bg-color) var(--standalone-color-oklab)); --warning-color: oklab(from var(--warning-bg-color) var(--standalone-color-oklab)); --error-color: oklab(from var(--error-bg-color) var(--standalone-color-oklab)); }
@import './gtk-3.0/libadwaita.css';
@import './gtk-3.0/libadwaita-tweaks.css';
@import './gtk-titlebar.css';
