/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";

   
    transition: all 0.5s ease-in-out;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    /* background-image: linear-gradient(90deg, #884FFF,  #FF1F8A); */
    background: alpha(@background, 0.9);
    color: @foreground;
    transition-property: all;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
    border-radius: 0px;
    font-size: 10pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
}

/***  MODULES  ***/
#custom-hyprshade,
#custom-background_random,
#custom-background_rofi,
#custom-settings,
#custom-canvas_background,
#custom-pacman,
#battery,
#clock,
#tray,
#language,
#idle_inhibitor,
#backlight,
#pulseaudio,
#custom-notifypanel {
    padding: 0 2px;
    margin: 0 2px;
    /* top | right | bottom | left */
    min-width: 20px;
   
    border: none;
   /* background-color: @background;*/
    color: @foreground;
}

#custom-separator {
  color: alpha(@accent,0.5);
  font-size: 11pt;
  text-shadow: none;
}
/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: @warning_color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @error_color;
}

/* POWER */
#custom-power {
    padding: 0 3px;
   
    margin: 0px 4px;
    /* background-color: @accent; */
    color: @foreground;
    border: none;
}

#custom-prayer {
  margin: 0px 5px;
    min-width: 20px;
    color: @foreground;
}
#custom-menu {
    /* min-width: 20px; */
    background-color: @accent;
    padding: 0px 5px;
    color: @foreground;
    border: none;

}



/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
    color: @foreground;
}

#idle_inhibitor.activated {
    color: @accent;
}

/*  WINDOW TITLE  */
#window {
    padding: 0px;
    margin: 0px 10px;
    font-style: italic;
    font-weight: normal;
}


/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: @warning_color;
}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#clock,
#titleBar {
   
    padding: 0px 5px;
    margin: 0px 2px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
}

#clock mode {
    color: @accent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}


/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓   ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓    ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛    ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/

#workspaces {
    padding: 0px 0px;
    margin: 0px 0px;
    box-shadow: none;
    border-radius: 0px;
    background-position: center;
    background-color: transparent;
   /* border: 1px solid alpha(@accent, 0.5);*/
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    margin: 0px ;
    padding: 0 5px;
    border-radius: 0px;
    color: @foreground;
    background-color: alpha(@accent, 0.25);
   /* border: 1px solid @background;*/
}

#workspaces button.empty:hover,
#workspaces button:hover {
    background-color: alpha(@foreground, 0.3);

    color: @foreground;

    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.empty {
    color: alpha(@foreground, 0.6);
    background-color: transparent;
}



#workspaces button.active{
    color: @foreground;
    background-color: alpha(@accent, 0.7);
}


#workspaces button.urgent {
    background-color: @warning_color;
}

