@define-color accent_color #9065CE;
@define-color accent_bg_color #9065CE;
@define-color accent_fg_color #1ca9c6;

button.maximize,
button.minimize,
button.close,
button.maximize:hover,
button.minimize:hover,
button.close:hover {
	background: none;
	border: none;
	margin: 3px 4px;
	padding: 0px;
	min-width: 12px;
	min-height: 12px;
}

button.maximize,
button.minimize,
button.close {
	opacity: 0.7;
	border-radius: 0%;
	text-shadow: none;
	color: rgba(0, 0, 0, 0);
}

button.maximize:hover,
button.maximize {
	background-image: url('max.svg');
	background-repeat: no-repeat;
}

button.minimize:hover,
button.minimize {
	background-image: url('min.svg');
	background-repeat: no-repeat;
}

button.close:hover,
button.close {
	background-image: url('close.svg');
	background-repeat: no-repeat;
}

button.maximize:hover {
	background-image: url('maxh.svg');
	opacity: 1;
}

button.minimize:hover {
	background-image: url('minh.svg');
	opacity: 1;
}

button.close:hover {
	background-image: url('closeh.svg');
	opacity: 1;
}

:backdrop > button.maximize {
	background-image: url('maxb.svg');
	opacity: 0.51;
}

:backdrop > button.minimize {
	background-image: url('minb.svg');
	opacity: 0.51;
}

:backdrop > button.close {
	background-image: url('closeb.svg');
	opacity: 0.51;
}

.window-frame {
	box-shadow: none;
	margin: 0;
}

window.ssd headerbar.titlebar {
	border: none;
	background-image: linear-gradient(to bottom, shade(@theme_bg_color, 1.05), shade(@theme_bg_color, 0.99));
	box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

/* --- TERMINAL --- */
VteTerminal,
TerminalScreen,
vte-terminal {
	padding: 10px 10px 10px 10px;
}

.window-frame, .window-frame:backdrop {
	box-shadow: 0 0 0 black;
	border-style: none;
	margin: 0;
	border-radius: 0;
}
	    
.titlebar {
	border-radius: 0;
}

/* -------------------------------------------
   ------------------ XFCE -------------------
   ------------------------------------------- */

/* -------- Panel -------- */
.xfce4-panel {
	/*background: #080808;*/
	color:@theme_fg_color;
	/*border-radius: 4px;*/
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 12px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	transition-property: all;
    transition-duration: .5s;
} 

/* ---- Docklike Bottom Panel ----- */
#docklike-plugin {
	background: @theme_bg_color;
	color:  @theme_fg_color;
	border-radius: 8px;
	margin: 0px 0px 6px 0px;
    border-radius: 8px;  
      
}

#docklike-plugin button {
  /*background:alpha(@theme_selected_bg_color,0.7);*/
  /*color:theme_selected_fg_color;*/
    border-radius: 0px;  
    padding:0 6px;
 }

#docklike-plugin .active_group {
	background:alpha(@theme_selected_bg_color,0.6);
	color:@theme_selected_fg_color;
    border-radius: 4px;  
}

#docklike-plugin button:hover {
    background:alpha(@theme_selected_bg_color,0.9);
    color:@theme_selected_fg_color;
    border-radius: 4px;  
    
}


/* ---- PAGER ---- */
.xfce4-panel widget grid  {
	/*background-color: @theme_bg_color;*/
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 12px;
	border-radius: 6px;
	margin: 0px 4px ;
}

#pager-5 #xfce-panel-toggle-button {
	/*background: alpha(@theme_bg_color,0.7);*/
	color:  alpha(@theme_fg_color,0.7);
	font-family: 'Roboto Condensed';
	font-weight: bold;
	margin: 2px;
	padding: 0 2px;
	border-radius: 0px; 
    /* border:1px solid shade(@theme_bg_color, 1.2);*/
}

#pager-5 #xfce-panel-toggle-button:checked {
	background:alpha(@theme_selected_bg_color,0.7);
	color:@theme_selected_fg_color;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	border-radius: 50%; 
}

#pager-5 #xfce-panel-toggle-button:hover {
	background: @theme_selected_bg_color; 
	color:@theme_selected_fg_color;
	border-radius: 50%;
	opacity: 0.9;
font-family: 'Roboto Condensed';
	font-weight: bold;
}

/* --- Modules --- */
#sn-button-box,
#applicationsmenu-4 button,
#clock-button,
#actions-14 button 
#weather-25 button,
#xkb-28 button,
#sn-button,
#xfce4-notification-plugin-10 ,
#xfce4-sensors-plugin-23 button,
#pulseaudio-button ,
#xfce4-power-manager-plugin {
	margin:2px;
	border-radius: 0px;
	padding: 0 4px;
}
