@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

* {
    /* `otf-font-awesome` is required to be installed for icons JetBrainsMono Nerd Font*/
    font-family: "FiraCode Nerd Font", "FontAwesome";
    font-weight: bold;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); */
}

window.main-bar#waybar {
    font-size: 10pt;
    background-color: rgba(19, 20, 20, 0);
    /* background-color: rgba(144, 151, 184, 0.4);*/
    /*border-bottom: 2px solid rgba(189, 170, 232, 1);*/


    transition-property: background-color;
    transition-duration: 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
    border: 0px;
    color: @foreground;
}


#custom-prayer {
    text-shadow: 1px 1px 1px alpha(@background, 0.95);
}

/*window.main-bar .modules-center,*/
#menuGroup,
window.main-bar .modules-right {


    padding: 0px;
    border-radius: 99px;
    background-color: @background;
    /* top | right | bottom-right | bottom-left */
    /* border-radius: 3px 6px 20px 3px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:last-child>#group-walpp {
    margin-right: 10;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:first-child>#language {
    margin-left: 10;
}

/*-----------------*/
/*     MEDIA       */
/*-----------------*/
#custom-media_play,
#custom-media_prev,
#custom-media_next {
    font-size: 12pt;
    margin: 0px 0px;
    padding: 0px 4px;
    min-width: 20px;
}

/*     TASKBAR    WORKSPACE  */

#taskGroup,
#workspaces {
    /*  border: 2px solid @foreground;*/
    padding: 0px;
    margin: 0 5px;

    border-radius: 99px;
    transition: all 0.5s ease-in-out;
    background-color: @background;
}

#workspaces {
    padding: 0 5px;
}

/*     TASKBAR   BUTTONS   */
#taskbar button {
    background: transparent;
    border-radius: 99px;
    padding: 0px 5px;

    /* border-radius: 99px; */
    margin: 0 0px;
}

#taskbar button.active {
    background: alpha(@accent, 0.5);
    color: @background;
    border-style: solid;
    /* border-width: 1px; */


}

#taskbar button:hover {
    background-color: @accent;
    transition: all 0.5s ease-in-out;

}

/*    Workspaces    BUTTONS   */
#workspaces button {

    padding: 0px;
    margin: 0px 2px;
    font-size: 0pt;
    background-image: url("./icons/workspace-pre.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682)
}


#workspaces button.empty {
    background-image: url("./icons/workspace-empty.svg");

}

#workspaces button.active {
    min-width: 25px;
    background-image: url("./icons/workspace-active.svg");

}

#workspaces button.urgent {
    color: #eb4d4b;
}

#workspaces button.empty:hover,
#workspaces button:hover {

    background-color: transparent;

}

/*    Ebd Workspaces    */

#mode {
    background-color: #64727d;
    border-bottom: 1px solid @foreground;
}

/*        MODULES       */
label.module {
    padding: 0px 2px;
    color: @foreground;
    /* top | right | bottom | left */
    border-radius: 0px;
    margin: 0px 0px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
    min-width: 20px;
    transition: all 0.3s ease-in-out;

}

/*     End  MODULES     */

#custom-power,
#custom-menu {
    font-size: 12pt;
    border-radius: 99px;
    padding: 0px 3px;
    /* border: 2px solid @foreground; */
    color: @background;
    background-color: @accent;

}

#clock {
    font-size: 12pt;
    margin:0 5px;
}

#battery.warning {
    background-color: @warning_color;
    color: @foreground;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #ff0000;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    background-color: @warning_color;
    color: @foreground;
}

#temperature.critical {
    background-color: @urgent;
    color: @Lcolor;
}

#tray {
    margin: 3px;

}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.deactivated {
    color: @foreground;
}

#idle_inhibitor.activated {
    color: @accent;
}

#window {
    font-size: 8pt;
    padding-left: 10px;
    padding-right: 10px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    margin: 0;
    padding: 0 5px;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: @foreground;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-height: 5px;
    min-width: 80px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: @background;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @accent;
}

#image {
    min-height: 22px;
    min-width: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0px 2px;
    margin: 0px 3px;
    font-size: 0pt;
    transition: all 0.5s ease-in-out;
}

#image:hover {
    background-color: @accent;
    border-radius: 99px;
    transition: all 0.5s ease-in-out;
}

#image.empty {
    font-size: 0pt;
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

#custom-separator {
       color:alpha(@foreground, 0.6);
    font-size: 8px;
    margin: 0 0px;
}