/* -------------------------------------------
   ------------------ XFCE -------------------
   ------------------------------------------- */

/* -------- Panel -------- */
.xfce4-panel {
	/*background: #080808;*/
	color: @theme_fg_color;
	/*border-radius: 10px;*/
	/*font-family: 'Roboto Condensed';*/
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	transition-property: all;
	transition-duration: .5s;
}

.xfce4-panel * {
	border-radius: 0px;
	/*font-family: 'Roboto Condensed';*/
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

/* ---- Docklike Bottom Panel ----- */
#docklike-plugin {
/*	background: alpha(@theme_bg_color, 0.95);*/
	color: @theme_fg_color;
	border-radius: 99px;
	margin: 0px 0px 3px 0px;
	border-radius: 8px;
    padding:4px 4px;
}

#docklike-plugin button {
	background:alpha(@theme_bg_color,0.9);
	/*color:theme_selected_fg_color;*/
  /* background-image: linear-gradient(90deg,alpha(#F66151, 0.9), alpha(#F66151, 0.9));*/
	border:2px solid alpha(@theme_bg_color, 0.7);
	border-radius: 99px;
	padding: 0 5px;
}

#docklike-plugin button:hover {
	 background:@theme_selected_bg_color;
    border:2px solid alpha(@theme_selected_bg_color, 0.5);
}

@keyframes blink {
	to {
		background-color: alpha(@theme_fg_color, .2);
	}
}

#docklike-plugin .group {
	color: @theme_selected_fg_color;
	animation-name: blink;
	animation-duration: 0.7s;
	animation-timing-function: linear;
	animation-iteration-count: 5;
	animation-direction: alternate;
}
#docklike-plugin .open_group {
	background: alpha(@theme_selected_bg_color, 09);
	border:2px solid alpha(@theme_bg_color, 0.5);
}
#docklike-plugin .active_group {
	background: alpha(@theme_selected_bg_color, 0.9);
	border:2px solid @theme_fg_color;
}

/* ---- PAGER ---- */
.xfce4-panel widget grid {
	/*background-color: @theme_bg_color;*/
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 12px;
	border-radius: 0px;
	margin: 0px 4px;
}

#pager-5 #xfce-panel-toggle-button {
	/*background: alpha(@theme_bg_color,0.7);*/
	color: alpha(@theme_fg_color, 0.7);
	font-family: 'Roboto Condensed';
	font-weight: bold;
	margin: 0 2px;
	padding: 0 4px;
	border-radius: 0px;
	/* border:1px solid shade(@theme_bg_color, 1.2);*/
}

#pager-5 #xfce-panel-toggle-button:checked {
	background: alpha(@theme_fg_color, 0.2);
	color: @theme_selected_fg_color;
	font-family: 'Roboto Condensed';
	font-weight: bold;
	border-radius: 0px;
}

#pager-5 #xfce-panel-toggle-button:hover {
	background: alpha(@theme_fg_color, 0.3);
	color: @theme_fg_color;
	border-radius: 0px;
	/*	opacity: 0.9;*/
	font-family: 'Roboto Condensed';
	font-weight: bold;
}

/* --- Modules --- */
#sn-button-box,
#applicationsmenu-4 button,
#clock-button,
#weather-25 labels,
#xkb-28 button,
#sn-button,
#xfce4-notification-plugin,
#xfce4-sensors-plugin-23 button,
#pulseaudio-button,
#xfce4-power-manager-plugin {
	margin: 0px;
	border-radius: 0px;
	padding: 0 4px;
}

#actions-14 button,
#whiskermenu-button {
	/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/
	margin: 0px;
	border-radius: 0px;
	padding: 0 7px;
}