
@define-color accent_color #7B8579;
@define-color accent_bg_color #7B8579;
@define-color accent_fg_color #ffffff;

@define-color window_bg_color #211D1B;
@define-color window_fg_color white;

@define-color view_bg_color #2A2523;
@define-color view_fg_color white;

@define-color headerbar_bg_color #211D1B;
@define-color headerbar_fg_color white;

@define-color dialog_bg_color #211D1B;
@define-color dialog_fg_color white;

@define-color popover_bg_color #211D1B;
@define-color popover_fg_color white;


/*@import './gtk-color.css';*/
/* --- TERMINAL --- */
VteTerminal,
TerminalScreen,
vte-terminal {
	padding: 10px 10px 10px 10px;
}

.window-frame, .window-frame:backdrop {
	box-shadow: 0 0 0 black;
	border-style: none;
	margin: 0;
	border-radius: 0;
}
	    
.titlebar {
	border-radius: 0;
}



@import './gtk-titlebar.css';
@import './gtk-xfce.css';
