
@import "./colors/colors.css";

window.main-bar#waybar {
    font-family: "JetBrainsMono Nerd Font", "FontAwesome", "Amiri";
    font-size: 10pt;
    font-weight: bold;
    background-color: alpha(@background, 0);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
    box-shadow: none;
    border-radius: 0px 0px 8px 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.95);
}

/*     GROUPS      */
#systemGroup,
#trayGroup,
#clockGroup,
#workspaces {
    margin: 0px 3px;
    background: @background;
    background-color: @background;
    border-radius: 99px;
    border:1px solid alpha(@accent,0.5);
}

#systemGroup,
#clockGroup {
  padding: 0px 5px;
}

/*    Workspaces      */
#workspaces button {
   
    padding: 0px 4px;
    margin: 0px 0px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    border:1px solid @background;
    background-color: alpha(@accent, 0.4);
    color: @foreground;
}

#workspaces button.persistent {
    background-color: alpha(@accent, 0.4);
}

#workspaces button.empty {
    background-color: transparent;
}

#workspaces button.active {
    color: @background;
    background-color:alpha(@accent,1.0);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.empty:hover,
#workspaces button:hover {
    background-color: @accent;
    color: @background;
}

/*    Ebd Workspaces    */


/*        MODULES       */
label.module{
    padding: 0px 4px;
    color: @foreground;
    border-radius: 0px;
    margin: 0px 2px;
    min-width: 20px;
    transition: all 0.3s ease-in-out;
}
/*     End  MODULES     */

@keyframes blink {
  to {
      background-color: @foreground;
      color: @background;
  }
}

/*        BATTERY       */
#battery.warning {
    background-color: #c71c1c;
}

#battery.critical:not(.charging) {
    background-color: #ff0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#pulseaudio.muted {
    background-color: #ff0000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    margin: 0 5px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-separator {
  /*   background-image: linear-gradient(90deg,alpha(@accent, 0.0), @accent,alpha(@accent, 0.0));*/
    min-width: 10px;
   color: alpha(@foreground,0.5);
}

#window {
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
}
