@define-color accent_color #ffbe6f;
@define-color accent_bg_color #ff7800;

button.maximize,
button.minimize,
button.close,
button.maximize:hover,
button.minimize:hover,
button.close:hover {
  background: none;
  border: none;
  margin: 0px;
  margin-left: 4px;
  padding: 1px;
  min-width: 18px;
  min-height: 18px;
}

button.maximize,
button.minimize,
button.close {
  opacity: 0.7;
  border-radius: 0%;
  text-shadow: none;
  color: rgba(0, 0, 0, 0);
}

button.maximize:hover,
button.maximize {
  background-image: url('max.svg');
  background-repeat: no-repeat;
}

button.minimize:hover,
button.minimize {
  background-image: url('min.svg');
  background-repeat: no-repeat;
}

button.close:hover,
button.close {
  background-image: url('close.svg');
  background-repeat: no-repeat;
}

button.maximize:hover {
  background-image: url('maxh.svg');
  opacity: 1;
}
button.minimize:hover {
  background-image: url('minh.svg');
  opacity: 1;
}

button.close:hover {
  background-image: url('closeh.svg');
  opacity: 1;
}

:backdrop > button.maximize {
  background-image: url('maxb.svg');
  opacity: 0.51;
}
:backdrop > button.minimize {
  background-image: url('minb.svg');
  opacity: 0.51;
}

:backdrop > button.close {
  background-image: url('closeb.svg');
  opacity: 0.51;
}
