##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

##### merge with the current settings
##### $ xrdb -merge ~/.Xresources

Xcursor.theme: Breeze
Xcursor.size: 16

! COLOR PALETTE HERE !
! special colors
*background:  #1e1e3f
*foreground:  #a599e9
*color0:  #2d2b55
*color1:  #cf1f83
*color2:  #15b864
*color3:  #b68a23
*color4:  #4545fa
*color5:  #7448af
*color6:  #2c9fba
*color7:  #be94c4
*color8:  #7a899c
*color9:  #bf2f40
*color10:  #49ce89
*color11:  #D3B073
*color12:  #97A8F2
*color13:  #8e5dcf
*color14:  #60aec0
*color15:  #a599e9
! font
xterm*faceName: xft:Inconsolata:size=12:antialias=true 
!xterm*font:     -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
!xterm*wideFont: -misc-fixed-medium-r-normal-ja-18-120-100-100-c-180-iso10646-1
! ------------------------------------------------------------------------------
! ===== urxvt =====

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false
URxvt*scrollBar_left:   false
URxvt*transparent:       false
URxvt*shading:       30

!URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:size=9

URxvt.font:xft:DroidSansMono Nerd Font:bold:size=9
URxvt.letterSpace: 0
URxvt.internalBorder: 5
*antialias:  true
*autohint:   true

URxvt.perl-ext:
URxvt.perl-ext-common:

!URxvt.perl-ext-common: ...,tabbed,...
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 2
! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! ROFI SETUP HERE !
rofi.color-enabled: true
!                  bg       border   separator

rofi.color-window: #1e1e3f, #4924FF, #15b864

!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1e1e3f, #a599e9, #1e1e3f, #8e5dcf, #fff
rofi.color-active: #1e1e3f, #a599e9, #1e1e3f, #1e1e3f, #4924FF
rofi.color-urgent: #C1452C, #a599e9, #C1452C, #4924FF, #1e1e3f

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 9
rofi.font: Hack Regular 11
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
rofi.line-margin: 10
