/*@import "../../.cache/wal/colors-waybar.css";*/
@import "../waybar/colors/colors.css";

@define-color text            @foreground;
@define-color bg              @background;
@define-color selected        @accent;
@define-color hover           alpha(@selected, .6);

* {
    outline: none;
    transition: 200ms;
    color:@text;
}

.notification-row {
    outline: none;
    margin: 0;
    padding: 5px;
}

.notification-row .notification-background .close-button {
    /* The notification Close Button */
    background: transparent;
    color: @text;
    text-shadow: none;
    box-shadow: none;
    margin-top: 2px;
    margin-right: 2px;
    padding: 0;
    border: none;
    border-radius: 100%;
    min-width: 24px;
    min-height: 24px;
}

.notification-row .notification-background .close-button:hover {
    box-shadow: none;
    background: @hover;
    transition: background 0.15s ease-in-out;
    border: 0px;
}

.notification-row .notification-background .notification {
    /* The actual notification */
    background: @background;
    padding: 8px;
   
}

.notification-row .notification-background .notification .notification-action,
.notification-row
    .notification-background
    .notification
    .notification-default-action {
    color: @text;
    font-size: 11px;
}

.notification-row
    .notification-background
    .notification
    .notification-action:hover,
    .notification-row
    .notification-background
    .notification
    .notification-default-action:hover {
    -gtk-icon-effect: none;
    background: @hover;
}

.notification-group .notification-group-headers {
    /* Notficiation Group Headers */
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification-group .notification-group-headers .notification-group-header {
    font-size: 11px;
    margin-left: 3px;
}

.notification-group.collapsed .notification-row .notification {
    background-color: @background;
}

.notification-group.collapsed:hover
    .notification-row:not(:only-child)
    .notification {
    /* Notification Group collapsed, hovered */
    box-shadow:
        0 0 0 1px alpha(@hover, 0.3),
        0 1px 3px 1px alpha(@hover, 0.3),
        0 2px 6px 2px alpha(@hover, 0.3);
}

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    box-shadow: 0px 2px 5px black;
    background: alpha(@background, 0.55);
    border: 2px solid @selected;
    font-size: 11;
}

.control-center-clear-all {
    /* Clear All button */
    background: @bg;
    font-size: 11;
}

.control-center-clear-all:hover {
    background: @hover;
}

.control-center-clear-all:active {
    background: @selected;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
    background: none;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 11;
}

/* Do Not Disturb widget */
.widget-dnd {
    background: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 11;
}

.widget-dnd > switch {
    background: @bg;
    font-size: initial;
    border-radius: 12px;
    box-shadow: none;
    padding: 2px;
}

.widget-dnd > switch:hover {
    background: @hover;
}

.widget-dnd > switch:checked {
    background: @selected;
}

.widget-dnd > switch slider {
    background: @text;
    border-radius: 12px;
}

/* Volume and Brightness */
.widget-volume {
    padding: 2px 8px;
    margin: 0px 8px 0px 8px;
    border-radius: 15px 15px 0px 0px;
    font-size: 25px;
    background: alpha(@background, 0.75);
    /* border-top: 2px solid #f4dbd6;
  border-left: 2px solid #f4dbd6;
  border-right: 2px solid #f4dbd6; */
}
.widget-backlight {
    padding: 2px 8px;

    margin: 0px 8px 5px 8px;
    border-radius: 0px 0px 15px 15px;
    font-size: 25px;
    background: alpha(@background, 0.75);
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); */
    /*border-bottom: 2px solid #f4dbd6;
  border-left: 2px solid #f4dbd6;
  border-right: 2px solid #f4dbd6;   */
}

/* Media Player widget */
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.50);
.widget-mpris {
    color:#fff;
}

.widget-mpris .widget-mpris-player {
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: @mpris-album-art-overlay;
  /*  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);*/
  color:#fff;
  box-shadow: none;
    border: 2px;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    
    color:#fff;
    font-size: 14px;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    color:#fff;
    font-size: 12px;
}

/* Buttons widget */
.widget-buttons-grid {
    background-color: alpha(@bg, 0.5);
    font-size: 16px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: alpha(@text, 0.1);
    color:@text;
    border-radius: 8px;
    min-width: 30px;
    padding: 4px;
    font-size: 16px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @hover;
    transition: background 0.15s ease-in-out;
}

.widget-buttons-grid > flowbox > flowboxchild > button:active {
    background: @selected;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    /* style given to the active toggle button */
    background: @selected;
}
