##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

##### merge with the current settings
##### $ xrdb -merge ~/.Xresources

Xcursor.theme: Breeze
Xcursor.size: 16

! COLOR PALETTE HERE !
! special

*foreground:   #93a1a1
*background:   #0F1D28
*cursorColor:  #93a1a1

!: black
*color0: #1A3245
*color8: #5e554c

! red
*color1: #dc5757
*color9: #f9807a

! green
*color2: #7e755c
*color10: #857d69

! yellow
*color3: #FAC382
*color11: #F2CFA6

! blue
*color4: #184569
*color12: #727171

! magentals
*color5: #886466
*color13: #a9797c

! cyan
*color6: #2D8687
*color14: #a09d95

! white
*color7: #b7aa90
*color15: #c4b69c


! font
xterm*faceName: xft:Inconsolata-dz for Powerline:size=12:antialias=true 
!xterm*font:     -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
!xterm*wideFont: -misc-fixed-medium-r-normal-ja-18-120-100-100-c-180-iso10646-1
! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

! ===== urxvt =====

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       true
URxvt*shading:       30

!URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:size=10

URxvt.font:xft:DroidSansMono Nerd Font:bold:size=9
URxvt.letterSpace: 0
URxvt.internalBorder: 5
*antialias:  true
*autohint:   true

URxvt.perl-ext:
URxvt.perl-ext-common:

!URxvt.perl-ext-common: ...,tabbed,...
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 2


! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


! ROFI SETUP HERE !
rofi.color-enabled: true
!                  bg       border   separator

rofi.color-window: #0F1D28, #184569, #8F998B

!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #0F1D28, #736B69, #0F1D28, #304352, #B3A4A1
rofi.color-active: #0F1D28, #736B69, #0F1D28, #304352, #B3A4A1
rofi.color-urgent: #C1452C, #736B69, #C1452C, #184569, #0F1D28

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.lines: 9
rofi.font: Hack Regular 11
rofi.bw: 1
rofi.columns: 2
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
rofi.line-margin: 10


