@import "../waybar/colors/colors.css";

window {
  background: alpha(@background, 0);
  border-radius: 99px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(@accent, 0);

}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 0px;
}

#active {
  /* This is to underline the button representing the currently active window */

  padding:  0px;
  border-radius: 99px;
 background-color: alpha(@foreground, 0);
  border-radius: 99px;
  border: 1px solid transparent;
  background-image:url("./images/task-vertical.svg");
  background-repeat: no-repeat;
  background-position: right;
 
}

button,
image {
  background: none;
  border-style: none;
  box-shadow: none;
  color: #999;

}

button {
  padding:2px 2px;
  margin:5px 0px;
  border: solid 1px transparent;
  color: #eee;
  font-size: 0pt;
}

button:hover {
  background-color: alpha(@foreground, 0.4);
  border-radius: 99px;
}

button:active {
    background-color: alpha(@foreground, 0.4);
  border-radius: 99px;
}