@define-color accent_color #955ae7;
@define-color accent_bg_color #955ae7;
@define-color accent_fg_color #ffffff;

@define-color window_bg_color #19171c;
@define-color window_fg_color #8b8792;

@define-color view_bg_color #2b292e;
@define-color view_fg_color #8b8792;

@define-color headerbar_bg_color #19171c;
@define-color headerbar_fg_color #8b8792;

@define-color dialog_bg_color #19171c;
@define-color dialog_fg_color #8b8792;

@define-color popover_bg_color #2b292e;
@define-color popover_fg_color #8b8792;

@define-color sidebar_bg_color #1f1d22;
@define-color sidebar_fg_color #8b8792;

@define-color sidebar_backdrop_color #2b292e;

@define-color secondary_sidebar_bg_color #2b292e;
@define-color secondary_sidebar_fg_color white;
@define-color secondary_sidebar_backdrop_color #2b292e;


VteTerminal,
TerminalScreen,
vte-terminal {
	padding: 10px 10px 10px 10px;
}


button.maximize,
button.minimize,
button.close,
button.maximize:hover,
button.minimize:hover,
button.close:hover {
	background: none;
	border: none;
	margin: 2px 2px;
	padding: 0px;
	min-width: 12px;
	min-height: 12px;
}

button.maximize,
button.minimize,
button.close {
	opacity: 0.7;
	border-radius: 0%;
	text-shadow: none;
	color: rgba(0, 0, 0, 0);
}

button.maximize:hover,
button.maximize {
	background-image: url('max.svg');
	background-repeat: no-repeat;
}

button.minimize:hover,
button.minimize {
	background-image: url('min.svg');
	background-repeat: no-repeat;
}

button.close:hover,
button.close {
	background-image: url('close.svg');
	background-repeat: no-repeat;
}

button.maximize:hover {
	background-image: url('maxh.svg');
	opacity: 1;
}

button.minimize:hover {
	background-image: url('minh.svg');
	opacity: 1;
}

button.close:hover {
	background-image: url('closeh.svg');
	opacity: 1;
}

:backdrop > button.maximize {
	background-image: url('maxb.svg');
	opacity: 0.45;
}

:backdrop > button.minimize {
	background-image: url('minb.svg');
	opacity: 0.45;
}

:backdrop > button.close {
	background-image: url('closeb.svg');
	opacity: 0.45;
}

.window-frame {
	box-shadow: none;
	margin: 0;
}

window.ssd headerbar.titlebar {
	border: none;
	background-image: linear-gradient(to bottom, shade(@theme_bg_color, 1.05), shade(@theme_bg_color, 0.99));
	box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}
