/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
 @import "../../.cache/wal/colors-waybar.css"; 

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons */
    font-family: "FiraCode Nerd Font";
    transition: all 0.5s ease-in-out;
}

/***  MAIN BAR  ***/
window.main-bar#waybar {
    border-radius: 99px;
    transition-property: all;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
    font-size: 10pt;
    font-weight: bold;
    text-shadow: 1px 1px 1px @background;
    background-color: transparent;
    color: @foreground;
}

window.main-bar .modules-right,
window.main-bar .modules-left {
    margin: 0px;
    padding: 0px;
    background-color: @background;
    border-radius: 99px;
}

/***  MODULES  ***/
label.module {
    padding: 0px 6px;
    margin: 0px 0px;
    /* top | right | bottom | left */
    border: none;
    color:#ffffff;
    text-shadow: 1 1 1 black;
}

/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: #ffffff;
}

#battery.warning {
    color: @warning_color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @error_color;
}

#clockGroup,
#tryGroup{
    padding: 0px;
    margin: 0px 0px;
    border: none;
   
    background-color: @color4;
}
#systemGroup,
#powerGroup {
    padding: 0px;
    margin: 0px 0px;
    border: none;
   
    background-color:  @color1;
}

#powerGroup {
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
}

#tryGroup {
    padding-right: 5px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
}

#custom-separator1 {
    font-size: large;
    font-weight: bold;
    padding: 0px;
    text-shadow: none;
    color: @background;
    background-color:  @color1;
}

#custom-separator2 {
    font-size: large;
    font-weight: bold;
    padding: 0px;
    text-shadow: none;
    color:  @color1;
    background-color: @background;
}
#custom-separator3 {
    font-size: large;
    font-weight: bold;
    padding: 0px;
    text-shadow: none;
    color: @background;
    background-color:  @color4;
}

#custom-separator4 {
    font-size: large;
    font-weight: bold;
    padding: 0px;
    text-shadow: none;
    color:  @color4;
    background-color: @background;
}
#custom-prayer {
    margin: 0px 5px;
    min-width: 20px;
    color: @foreground;
}

#custom-menu {
    border-radius: 50%;
    padding: 0px 8px;
    color:#ffffff;
    background-color:  @color5;
}

/*  WINDOW TITLE  */
#window {
    padding: 0px;
    margin: 0 5px;
    font-style: italic;
    font-weight: normal;
}

/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

#clock{
    font-size:12pt
}

#clock mode {
    color: @accent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray {
    margin: 0 3px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}
/*----------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓  
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓  
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛  
-----------------------------------------*/
#workspaces {
    font-size: 6pt;
    padding: 0px 6px;
    margin: 0px 5px;
    box-shadow: none;
    border-radius: 99px;
    background-color:  @color2;
}

#workspaces button {
    padding: 0 4px;
    margin: 0px 0px;
    font-size: 6pt;
    background-image: url("./icons/workspace-pre.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682)
}

#workspaces button.empty:hover,
#workspaces button:hover {
    background-color: transparent;
   
}

#workspaces button.empty {
    background-image: url("./icons/workspace-empty.svg");
}

#workspaces button.active {
    min-width: 25px;
    background-image: url("./icons/workspace-active.svg");
}

#workspaces button.urgent {
    background-color: @warning_color;
}