@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";
 {
  `otf-font-awesome` is required to be installed for icons JetBrainsMono Nerd Font
    font-family: 'FiraCode Nerd Font', 'FontAwesome', 'Amiri';

}*/

window.main-bar#waybar {
    font-family: "JetBrainsMono Nerd Font", "FontAwesome", "Amiri";
    font-size: 11pt;
    font-weight: bold;
    background-color: alpha(@background, 0);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
    box-shadow: none;
    border-radius: 0px;
    text-shadow: 1px 1px 1px alpha(@background, 0.95);
}

/*     GROUPS    WORKSPACE  */
#menuGroup,
#systemGroup,
#trayGroup,
#clockGroup,
#workspaces {
    margin: 0px 0px;
    background: @background;
    background-color: @background;
    border-radius: 99px;
    font-size: 10pt;
    border: 1px solid alpha(@accent, 0.8);
}

#menuGroup,
#trayGroup,
#systemGroup,
#clockGroup {
    padding: 5px 0px;
}

/*    Workspaces    BUTTONS   */
#workspaces button {
    color: @foreground;
    padding: 0px 3px;
    margin: 2px 2px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}

#workspaces button.persistent {
    background-color: alpha(@foreground, 0.2);
    color: @foreground;
    /* background-color: transparent; */
}

#workspaces button.empty {
    color: alpha(@foreground, 0.6);
    background-color: transparent;
}

#workspaces button.active {
    /*  background-color: @accent; */
    color: @foreground;
    background-color: alpha(@accent, 0.9);
    border: 1px solid alpha(@background, 0.5);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.empty:hover,
#workspaces button:hover {
    background-color: alpha(@foreground, 0.3);
    border: 1px solid alpha(@background, 0.5);
}

/*    Ebd Workspaces    */

/*        MODULES       */
label.module {
    padding: 0px 4px;
    color: @foreground;
    /* top | right | bottom | left */
    border-radius: 0px;
    margin: 2px 0px;
    min-height: 20px;
    transition: all 0.3s ease-in-out;
}

/*     End  MODULES     */

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

/*        BATTERY       */
#battery.warning {
    background-color: #c71c1c;
    color: @foreground;
}

#battery.critical:not(.charging) {
    background-color: #ff0000;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    background-color: #ff0000;
    color: @foreground;
}

#temperature.critical {
    background-color: #eb4d4b;
    color: @foreground;
}

#tray {
    margin: 5px 0px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-separator {
    /*   background-image: linear-gradient(90deg,alpha(@accent, 0.0), @accent,alpha(@accent, 0.0));*/
    color: alpha(@foreground, 0.5);
    min-height: 10px;
}
