/*** COLORS VARIABLE ***/

/* @import "./colors/colors.css"; */
/*@import "../../.cache/wal/colors-waybar.css";*/
@define-color foreground #ffffff;
@define-color background #000000;
/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons ex:JetBrainsMono Nerd Font Mono Semi-Bold" */
    font-family: "FiraCode Nerd Font";
    box-shadow: none;
    transition: all 0.7s ease-in-out;
    text-shadow: 1px 1px 1px @background;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    font-weight: bold;
    transition-property: all;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.5s;
    border-radius: 0px;
    font-size: 12pt;
    background: transparent;
    color: @foreground;
}

label.module {
    padding: 0 3px;
    margin: 2px;
    min-width: 16px;
    border: none;
    border-radius: 4px;
    color: @foreground;
}


/**---------- BATTERY -----------*/
#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: chocolate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @warning_color;
}

/*--------  MENU weather -----------*/
#custom-weather,
#custom-menu {
    padding: 0px 3px;
    margin: 0px 0px;
    font-family: "Cantarell";
}



/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: @warning_color;
}

#window,
#custom-prayer {
    font-size: small;
    font-weight: normal;
    font-style: italic;
    font-family: "Cantarell";

}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#temperature,
#memory,
#cpu,
#disk,
#clock {
    min-width: 30px;
    margin: 0px;
    font-family: "Cantarell";

}

#tray {
    margin: 0px 6px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}

#custom-separator {
    font-size: 10pt;
    font-weight: normal;
    color: alpha(@foreground, 0.6);
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 1px 1px alpha(@background,0.6);
}

/*------------ WorkSpace ---------------*/
#workspaces {
    /* font-size: 10pt; */
    border-radius: 0px;
    margin: 0px 5px;
    padding: 0px 5px;
    box-shadow: none;
}

#workspaces button {
    box-shadow: none;
    margin: 0px 0px;
    padding: 0px 2px;
    font-size: 0pt;
    background-image: url("./icons/workspace-pre.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682)
}

#workspaces button.empty {
    background-image: url("./icons/workspace-empty.svg");

}

#workspaces button.active {
    min-width: 25px;
    background-image: url("./icons/workspace-active.svg");

}

#workspaces button:hover {
    background-color: transparent;
} 


#taskbar button {
    box-shadow: none;
    text-shadow: none;
    margin: 0px 0px;
    padding: 0px 5px;
    border-radius: 0px;
    background-color: transparent;
    /* border-top: 2px solid @accent; */
    font-size: 0pt;
    /* border-bottom: 3px solid transparent; */
}

#taskbar button.active {
    background-color: transparent;
    /* border-bottom: 3px solid @foregroud; */
    background-image: url('./icons/task-single.svg');
    background-repeat: no-repeat;
    background-position:bottom
}

#taskbar button:hover,
#taskbar button.active:hover,
#taskbar button.empty:hover {
    /* transition-duration: 0.3s; */
    background-color: transparent;
    /* transition-property: background-color; */
    /* border-radius: 4px; */
}

#taskbar button.urgent,
#workspaces button.urgent {
    background-color: @warning_color;
}