/* rounded buttons */

.btn_On,
.btn_Off {
    font-size: 14pt;
    padding: 3px;
    border-radius: 99px;
    color: $white;
    margin: 0px 5px;
    /*  border: 0.01em;
    border-color: #f5f;*/
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.301);
    /* transition: ease-out 0.3s; */
    min-height: 30px;
    min-width: 30px;
}

.performance {
    font-size: 36pt;
    margin: 0px 5px;
    padding: 0px 5px;
    color: rgba($color: $accent, $alpha: 0.9);
}

.Lab-power {
    font-size: 10pt;
}
.btn_Off:hover {
    background-color: rgba($color: $white, $alpha: 0.2);
    color: $white;
    // border-radius: 50%;
}

.btn_On {
    background-color: rgba($color: $accent, $alpha: 0.9);
}

.btn_Off {
    background-color: rgba($color: $black, $alpha: 0.9);
}

/* costtom buttons */
.Off,
.On {
    border-radius: 10px;
    padding: 0px 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.301);
    margin: 3px;
    border-radius: 10px;
    // font-family: "Material Design Icons", "Hack Nerd Font";
}

.Off {
    background-color: rgba($color: $black, $alpha: 0.9);
}

.On {
    background-color: rgba($color: $accent, $alpha: 0.9);
}

.Lab-cosstom_img {
    font-size: 24pt;
    margin: 0px 10px;
}

.Lab-cosstom-top {
    font-family: "Iosevka Nerd Font";
    font-size: 10pt;
    font-weight: bold;
}

.Lab-cosstom-bot {
    font-size: 9pt;
}

.box_costom_sep {
    background-image: linear-gradient(
        0deg,
        rgba(100, 100, 100, 0),
        $grey,
        rgba(100, 100, 100, 0)
    );
}

.btn-cmd {
    // font-family: "Material Design Icons";
    font-size: 14pt;
    font-weight: bold;
    padding: 0px 10px;
    margin: 6px 0px;
    transition: ease-out 0.3s;
}

.btn-cmd:hover {
    color: $accent;
    border-radius: 8px;
    background-color: rgba($color: $black, $alpha: 0.7);
}

/* -----------end costtom button-----------*/

/*   salat   */
.remaining_next,
.rem_to {
    /* font-family: "Hack Nerd Font"; */
    font-size: 16;
    font-weight: bold;
    color: $white;
    margin: 5px;
}

/*    box     */
.box_top {
    padding: 5px;
}
.box-salat {
    background-color: rgba($color: $black, $alpha: 0.5);
    border-radius: 10px;
    margin: 5px;
    padding: 2px 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.501);
}

.box_image {
    background-size: 24px;
    min-height: 24px;
    min-width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    //background-image: url('~/.config/eww/i3eww/src/images/logo.jpg');
}

.box-power {
    border-radius: 12px;
    background-color: $black;
    padding: 0px 5px;
}

.box_user {
    font-family: "Monospace";
    font-weight: bold;
    font-size: 10pt;
    background-color: $black;
    border-radius: 12px;
    padding: 0 15px;
}

.xfce-setting {
    color: $green;
    /* padding: 0 1.4rem;*/
}

.mute_of,
.wifi_of,
.redshift_of,
.bluetooth_of,
.microphone_of,
.camera_of {
    background-color: $grey;
    color: $white;
}

.btnMargin {
    background-color: $grey;
    border-radius: 50%;
    margin: 3px;
}

.box-btns {
    background-color: rgba($color: $blackAlt, $alpha: 0.95);
    padding: 3px 6px 3px 3px;
    border-radius: 10px;
}

/**** weather *********************************/
.weather_art {
    font-size: 26pt;
    padding: 5px;
    font-weight: bold;
}

.lab_weather-temp {
    font-size: 16pt;
    padding: 5px;
    font-weight: bold;
}

.lab_weather-desc {
    //  font-family: Hack Nerd Font, Amiri;
    font-size: 9pt;
}
