$white: #8b8792;
$black: #19171c;
$blackAlt: #2b292e;
$grey: #3b3d4e;
$lightGrey: #acb1b1;
$green: #86bb6b;
$red: #f85858;
$blue: #6bb0da;
$yellow: #f076ab;
$purple: #a07dde;
$cyan: #3dddd8;
$accent: #955ae7;
