.Icon {
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 48px;
    min-width: 48px;
    border-radius: 8px;

}

.NotifyBox {
    background-color: $blackAlt;
    padding: 5px;
    border-radius: 10px;
    // margin: 5px;


}

.Notif {
    background-color: rgba($color:$black, $alpha:0.5);
    padding: 5px;
    border-radius: 5px;

}

.Sumary,
.Body,
.AppName {
    font-size: small;
}

//.Sumary {
//    font-size: x-small;
//
//}