.masterSlider,
.backlightSlider {
    margin: 0px 5px 0px 5px;
    font-size: 8pt;
}

.masterSlider scale trough highlight,
.backlightSlider scale trough highlight {
    border-radius: 5px;
}

.masterSlider scale trough,
.backlightSlider scale trough {
    background-color: rgba($color:$grey, $alpha: 0.8);
    border-radius: 5px;
    min-height: 20px;
    padding: 1px;
}

.backlightSlider scale trough highlight,
.masterSlider scale trough highlight {
    background-color: rgba($color:$black, $alpha: 0.6);
}

.mixer,
.mute_on,
.mute_of,
.lab_light {
    font-family: "Material Design Icons";
    font-size: 14pt;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 50%;
    color: $white;
    transition: ease-out .3s;
    margin: 3px;
}

.mute_of,
.lab_light {
    background-color: $grey;
}

.mute_on {
    background-color: $blue;
}

.mute_of:hover {
    background-color: $accent;
}

.mixer {
    border-radius: 5px;
    background-color: transparent;
    color: $white;
}

.mixer:hover {
    background-color: $green;
    color: $black;
    border-radius: 50%;
}

.blight {
    font-size: 12pt;
    padding: 0px 5px;
    background-color: $blackAlt;
    border-radius: 50%;
    margin: 3px;
}

.box-Sliders {
    background-color: rgba($color:$blackAlt, $alpha: 0.7);
    padding: 5px 5px;
    border-radius: 10px;
}