.box-Sysinfo {
    background-color: rgba($color:$blackAlt, $alpha: 0.7);
    padding: 5px 5px;
    border-radius: 10px;
    //  margin: 0px 5px 0px 5px;

}

.temp_module,
.cpu_module,
.disk_module,
.bat_module,
.mem_module {
    background-color: rgba($color:$black, $alpha:0.5);
    border-radius: 12px;
    margin: 0px;
    padding: 0px 5px;
}

.temp_Info,
.cpu_Info,
.disk_Info,
.mem_Info,
.bat_Info {
    padding: 5px;
}

.lb {
    font-size: 10pt;
    font-weight: bold;
    color: $white;
}

.lb_b {
    font-size: 8pt;
    color: $white;
}

.tempbar {
    color: $yellow;
    background-color: $grey;
    //border-radius: 10px;
}


.diskbar {
    color: $green;
    background-color: $grey;
    //border-radius: 10px;
}

.membar {
    color: $blue;
    background-color: $grey;
    // border-radius: 10px;
}

.batbar {
    color: $cyan;
    background-color: $grey;
    //  border-radius: 10px;
}

.cpubar {
    color: $red;
    background-color: $grey;
    //  border-radius: 10px;
}

.icontemp,
.iconcpu,
.iconbat,
.iconmem,
.icondisk {
    color: $white;
    font-size: 18pt;
    margin: 12px;
}



.lab_temp,
.wttr {
    font-size: 10pt;
    margin: 3px;
    padding: 3px 10px;
    border-radius: 15px;
    background-color: $blackAlt;
}