/** Tabs ***************************************/
.box-tabs {
    // background-color: $grey;
    background-color: rgba($color:$blackAlt, $alpha:0.7);
    border-radius: 6px;
    border-top-right-radius: 6px;
    padding: 6px;
    //  margin-top: 3px;
    // margin: 0px 5px 0px 5px;

}

.salat_checked,
.cal_checked,
.mpd_checked,
.mpris_checked {

    background-color: transparent;
    color: $white;
    padding: 3px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;

}

.salat_checked:hover,
.cal_checked:hover,
.mpd_checked:hover,
.mpris_checked :hover {
    color: $purple;
}

/** Music ***************************************/
.music_box {
    background-color: $blackAlt;
    padding: 10px;
    border-radius: 10px;
    // margin: 0px 5px 0px 5px;
}

.album_art {
    background-size: 94px;
    min-height: 94px;
    min-width: 94px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5;
    border-radius: 14px;
}

.song {
    color: $blue;
    font-size: 11px;
    font-weight: bold;
    margin: 0px;

}

.artist {
    //color: $yellow;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
}

.music_toggle:checked {
    /*   background-image: url("src/themes/checkbox-checked.png");
    border-image: url("src/themes/checkbox-checked.png");*/
    background-color: $blue;
    color: $white;

}

.btn_play:hover,
.btn_prev:hover,
.btn_next:hover {
    color: $accent;
    transition: ease-out .3s;
}

.btn_prev {

    // color: $yellow;
    font-size: 32px;
    font-weight: normal;

}

.btn_play {

    color: $blue;
    font-size: 32px;
    font-weight: bold;

}

.btn_next {

    //   color: $yellow;
    font-size: 32px;
    font-weight: normal;
    margin-left: 10px;
}


/*** Music Mpd ***********************/

.music_prog {

    font-size: 8pt;

    padding-left: 0px;
    padding-right: 0px;
    //   min-width: 280px;
}

// mpd slider
.music_prog scale trough highlight {
    border-radius: 5px;
    background-color: $blue;
}

// mpd slider
.music_prog scale trough {
    background-color: $grey;
    border-radius: 5px;
    min-height: 5px;
    padding: 0px 0px;
}


/**** SALAT *************************/
.Salat-box {
    font-family: Hack Nerd Font, Amiri;
    background-color: $blackAlt;
    padding: 5px;
    border-radius: 10px;
    font-size: 14pt;
    // margin: 0px 5px 0px 5px;
}

.awkat-salat {
    margin: 5px;
    padding: 3px 10px;
    border-radius: 10;
    background-color: $blackAlt;
}

.img_salat {
    font-size: 28pt;
}

.salat_lab {
    color: $blue;
}

.remaining_next {
    font-size: 14pt;
}

.rem_to {
    font-size: 11pt;
}

// margin   top right bottom  left     

.Date_hijri {
    font-size: 14pt;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    background-color: $black;
}

/**** Calendar ****************************/
.Calendar-box {
    // font-family: Hack Nerd Font, Amiri;
    background-color: $blackAlt;
    padding: 1px;
    border-radius: 10px;

    //  margin: 0px 5px 0px 5px;
}

.cal {
    //font-family: Hack Nerd Font, Amiri;
    padding: 1px 3px 1px 3px;
    font-size: 9pt;

}

.cal:selected {
    background: $accent;
    border-radius: 3px;
}

// Calendar
/*
.Calendar-box {
    background-color: $black;
    font-family: Comic Mono;
    font-size: 1em;
    font-weight: bold;

    .cal-inner-box {
        padding: 1rem 1rem .2rem;

        .cal {
            &.highlight {
                padding: 10rem;
            }

            padding: .8rem .25rem 0rem;
            margin-left: 10px;
        }
    }
}
*/

.cal.header {
    color: $blue;
    font-weight: bold;
}

.cal.button {
    color: $purple;
}

.cal.highlight {
    color: $purple;
    font-weight: bold;
}

.cal.indeterminate {
    color: $black;
}

/**** weather *********************************/
.weather_art {
    /*background-size: 64px;
    min-height: 64px;
    min-width: 64px;
    background-repeat: no-repeat;
    background-position: center;*/
    font-size: 30pt;
    padding: 5px;

}

.lab_weather-temp {
    // font-family: Hack Nerd Font, Amiri;
    font-size: 26pt;
    padding: 5px;

}

.lab_weather-desc {
    //  font-family: Hack Nerd Font, Amiri;
    font-size: 11pt;
    font-weight: bold;
}