/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons ex:JetBrainsMono Nerd Font Mono Semi-Bold" */
    font-family: "FiraCode Nerd Font", FontAwesome;

    box-shadow: none;
    transition: all 0.7s ease-in-out;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    /*background-color: rgba(0, 0, 0, 0.0);*/
    font-weight: bold;
    transition-property: all;
    transition: all 0.3s ease-in-out;
    transition-duration: 0.7s;
    border-radius: 0px;
    font-size: 11pt;
    background: alpha(@background, 0);
    color: @foreground;
}

label.module {
    font-size: 11pt;
    padding: 0 3px;
    margin: 0 2px;
    /* top | right | bottom | left */
    min-width: 16px;
    border: none;
    /*background-color: @background;*/
    color: @foreground;
}

#monitorGroup,
#clockGroup,
#workspaces,
#clockGroup,
#trayGroup,
#taskbarGroup {
    border-radius: 6px;
    /*  background-color: @background;*/
    padding: 0px 2px;
    /* top | right | bottom | left */
    margin: 4px 4px 4px 4px;
    box-shadow: -1px -1px 4px alpha(@accent, 0.5);
    background-color: alpha(@background, 0.9);
    border: 1px solid alpha(@accent, 0.5);
}

/***  MODULES  ***/
/*
#power-profiles-daemon,
#custom-pacman,
#custom-eww,
#idle_inhibitor,
#battery,
#titleBar,
#custom-weather,
#tray,
#language,
#custom-power,
#backlight,
#pulseaudio,
#custom-notifypanel {
  font-size: 11pt;
  padding: 0 2px;
  margin: 0 2px;

  min-width: 20px;
  border: none;
  color: @foreground;
}
*/


/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: @warning_color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @warning_color;
}

/*  MENU  */
#custom-weather,
#custom-menu {
    /* top | right | bottom | left */
    font-size: 12pt;
    padding: 0px 3px;
    margin: 0px 0px;
    font-family: "Cantarell";
    /*  background-color: @accent;*/
    /* background-image: linear-gradient(120deg, #53d6f6, #0364e2); */
}

/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
    font-size: 12pt;
    color: @foreground;
}

#idle_inhibitor.activated {
    font-size: 12pt;
    color: @accent;
}

/*  WINDOW TITLE  */
#window {
    padding: 0px;
    /*color: #ffffff;*/
    font-weight: bold;
}

/*  WINDOW BUTTONS  */
#custom-toggleActive,
#custom-closeActive {
    color: #f4375d;
    margin: 0px 2px;
    padding: 0 3px;
    min-width: 14px;
}

#custom-toggleActive {
    color: #49c660;
}

/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: @warning_color;
}


#custom-prayer {
  text-shadow: 1px 1px 1px @background;
  font-size: 10pt;
  font-weight: bold;
  font-family: "Cantarell";
  text-shadow: 1px 1px 1px @background;
}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#temperature,
#memory,
#cpu,
#disk,
#clock {
    min-width: 30px;
    font-size: 11pt;
    margin: 0px;
    font-family: "Cantarell";
}

#tray {
    margin: 0px 2px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}

/*-----------------*/
/*     MEDIA       */
/*-----------------*/
#custom-media_play,
#custom-media_prev,
#custom-media_next {
    font-size: 12pt;
    margin: 0px 3px;
    padding: 0px 3px;
    min-width: 18px;
    min-height: 18px;
}

#mediaGroup {
    font-size: 10pt;
    padding: 0px 0px;
    margin: 0px 12px;
    border-radius: 4px;
    background-color: @background;
}

#mediaGroup {
    border-radius: 13px;
}

#custom-separator {
    font-size: 12pt;
    color: alpha(@foreground, 0.2);
    padding: 0px;
    margin: 0px;
}

/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓   ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓    ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛    ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    margin: 4px 2px;
    padding: 0px 5px;
    border-radius: 3px;
    color: @foreground;
    border: none;
    background-color: alpha(@accent, 0.3);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    margin: 2px 2px;
    padding: 0px 4px;
    border-radius: 4px;
    background-color: transparent;
    border-top: 1px solid @accent;
}

#workspaces button.empty {
    background-color: transparent;
    color: alpha(@foreground, 0.6);
}

#taskbar button.active,
#workspaces button.active {
    color: @background;
    background-color: @accent;
}

#taskbar button:hover,
#taskbar button.active:hover,
#workspaces button:hover,
#workspaces button.empty:hover {
    transition-duration: 0.3s;
    background: @accent;
    transition-property: background-color;
    border-radius: 4px;
}

#taskbar button.urgent,
#workspaces button.urgent {
    background-color: @warning_color;
}

/*---------------------------
   ╻  ┏━┓╻ ╻┏━╸╻ ╻┏━╸┏━┓┏━┓
   ┃  ┣━┫┃ ┃┃  ┣━┫┣╸ ┣┳┛┗━┓
   ┗━╸╹ ╹┗━┛┗━╸╹ ╹┗━╸╹┗╸┗━┛
---------------------------*/
#image {
    min-height: 20px;
    min-width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2px 0px;
    padding: 0px 4px;
    font-size: 0pt;
    transition: all 0.5s ease-in-out;
}

#image:hover {
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    background-color: @accent;
}

#image.empty {
    font-size: 0pt;
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

#image.album_art {
    min-width: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#image.album_art.empty {
    min-width: 26px;
    background-image: url("icons/music.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#cava {
    font-family: Iosevka;
    font-size: 8pt;
    margin: 0 5px;
    color: transparent;
}
