/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/*@import "style_bot.css";*/

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons ex:JetBrainsMono Nerd Font Mono Semi-Bold" */
    font-family: "FiraCode Nerd Font", FontAwesome, Vazir;
    font-weight: bold;

    /*font-size: 0.5rem;*/
    text-shadow: 1px 1px 2px alpha(@background, 0.9);
    box-shadow: none;
    transition: all 0.7s ease-in-out;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    /*background-color: rgba(0, 0, 0, 0.0);*/
    background: alpha(@background, 0);
    color: @foreground;
    transition-property: all;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.7s;
    border-radius: 0px;
    font-size: 11pt;
}

#clockGroup,
#workspaces,
#clockGroup,
#trayGroup,
#taskbarGroup {
    border-radius: 6px;
    /*  background-color: @background;*/
    background-color: alpha(@background, 0.9);
    border: 1px solid shade(alpha(@background, 0.9), 1.9);
    padding: 0px 2px;
    /* top | right | bottom | left */
    margin: 5px 3px 4px 4px;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.7);
}

/***  MODULES  ***/
#power-profiles-daemon,
#custom-pacman,
#custom-eww,
#idle_inhibitor,
#battery,
#titleBar,
#custom-weather,
#tray,
#language,
#custom-power,
#backlight,
#pulseaudio,
#custom-notifypanel {
    font-size: 11pt;
    padding: 0 2px;
    margin: 0 2px;
    /* top | right | bottom | left */
    min-width: 20px;
    border: none;
    /*background-color: @background;*/
    color: @foreground;
}

/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: @warning_color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @warning_color;
}

/*  MENU  */

#custom-menu {
    /* top | right | bottom | left */
    font-size: 12pt;
    padding: 0px 3px 0px 0px;
    border-radius: 6px;
    margin: 3px 0px;
    /*  background-color: @accent;*/
    /* background-image: linear-gradient(120deg, #53d6f6, #0364e2); */
    color: @foreground;
    border: none;
}

/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
    color: @foreground;
    font-size: 14pt;
}

#idle_inhibitor.activated {
    color: @accent;
    font-size: 14pt;
}

/*  WINDOW TITLE  */
#window {
    padding: 0px;
    /*color: #ffffff;*/
    font-weight: bold;
}

/*  WINDOW BUTTONS  */
#custom-toggleActive,
#custom-closeActive {
    color: #f4375d;
    margin: 0px 2px;
    padding: 0 3px;
    min-width: 14px;
}

#custom-toggleActive {
    color: #49c660;
}

/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: @warning_color;
}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#clock {
    font-size: 12pt;
    /* font-weight: bold;*/
    margin: 0 5px;
    font-family: "Cantarell";
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}

/*-----------------*/
/*     MEDIA       */
/*-----------------*/
#custom-media_play,
#custom-media_prev,
#custom-media_next {
    font-size: 14pt;
    margin: 0px 3px;
    padding: 0px 3px;
    min-width: 18px;
    min-height: 18px;
}

#mediaGroup {
    font-size: 10pt;
    padding: 0px 0px;
    margin: 0px 12px;
    border-radius: 4px;
    background-color: @background;
}

#mediaGroup {
    border-radius: 13px;
}

#custom-separator {
    font-size: 12pt;
    color: alpha(@foreground, 0.2);
}

/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓   ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓    ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛    ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/

/*#workspaces {
    font-size: 10pt;
    padding: 0px 7px;
    margin: 0 3px;

}*/

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    margin: 2px 2px;
    padding: 0px 5px;
    border-radius: 3px;
    color: @foreground;
    background-color: alpha(@foreground, 0.1);
    border: none;
    /*  animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682) */
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    margin: 0px 2px;
    padding: 0px 3px;
    border-radius: 5px;
    color: alpha(@foreground, 0.9);

    border-top: 2px solid transparent;
    /*  animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682) */
}

#workspaces button.empty:hover,
#taskbar button:hover,
#workspaces button:hover {
    background: @accent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.empty {
    color: alpha(@foreground, 0.75);
    background-color: transparent;
}

#workspaces button.active {
    color: @foreground;
    /*padding: 0px 10px;*/
    background-color: @accent;
    /*  background-image: linear-gradient(120deg, @accent, @accent);*/
    background-image: linear-gradient(
        45deg,
        @accent,
        shade(alpha(@accent, 0.9), 1.7)
    );
}

#taskbar button.active {
    border-top: 3px solid @accent;
    /* background-image: linear-gradient(0deg, alpha(@accent, 0.2), @accent); */
}

#taskbar button.urgent,
#workspaces button.urgent {
    background-color: @warning_color;
}

/*---------------------------
   ╻  ┏━┓╻ ╻┏━╸╻ ╻┏━╸┏━┓┏━┓
   ┃  ┣━┫┃ ┃┃  ┣━┫┣╸ ┣┳┛┗━┓
   ┗━╸╹ ╹┗━┛┗━╸╹ ╹┗━╸╹┗╸┗━┛
---------------------------*/
#image {
    min-height: 22px;
    min-width: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 2px;
    padding: 2px 3px;
    font-size: 0pt;
    transition: all 0.5s ease-in-out;
}

#image:hover {
    background-color: @accent;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

#image.empty {
    font-size: 0pt;
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}

#image.album_art {
    min-width: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#image.album_art.empty {
    min-width: 26px;
    background-image: url("icons/music.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#cava {
    font-family: Iosevka;
    font-size: 8pt;
    /* text-shadow: 1px -1px 1px rgb(0, 0, 0); */
    /* border-radius: 14; */
    /* background-color:alpha(@foreground, 0.15); */
    margin: 0 5px;
    color: transparent;
}
