/* [paddin | margin] = [top , right , bottom , left] */
/* [paddin | margin] = [vertical , horizontal ] */
/*  border-radius: = [ top-right , bottom-left ] */
/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/

/*** COLORS VARIABLE ***/
@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/* GTK COLORS VARIABLE */
/* @accent, @accent, @accent ,@background,@foreground*/

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;

    /*font-size: 0.5rem;*/

    transition: all 0.5s ease-in-out;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    /*background-color: rgba(0, 0, 0, 0.0);*/
    text-shadow: 1px 1px 2px alpha(@background, 0.8);
    background: alpha(@background, 0.0);
    color: @foreground;
    border-radius: 0px;
    font-size: 10pt;
}


window.main-bar .modules-left,
clockGroup,
#workspacesGroup,
#trayGroup,
#taskbarGroup {
    background-image: linear-gradient(0deg, @accent, shade(alpha(@accent, 0.85), 1.3));

    /* background-image: linear-gradient(0deg, @background, shade(alpha(@background, 0.90), 1.40)); */
    border: 1px solid @accent;
    padding: 0px 12px;
}

#clockGroup {
    background-image: linear-gradient(0deg, @accent, shade(alpha(@accent, 0.85), 1.3));
}

#clockGroup,
#workspacesGroup {
    border-radius: 6px 20px;
}

#taskbarGroup {
    border-radius: 6px 6px 20px 20px;
}

window.main-bar .modules-left,
#trayGroup {
    border-radius: 20px 6px;
}

/***  MODULES  ***/
#custom-pacman,
#battery,
#titleBar,
#custom-weather,
#tray,
#language,
#custom-power,
#backlight,
#pulseaudio,
#custom-notifypanel {
    font-size: 10pt;
     padding: 0 2px; 
    margin: 0 2px;
    min-width: 20px;
    border: none;
    color: @foreground;
}

/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: @warning_color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @warning_color;
}

/*  MENU  */

#custom-menu {
    font-size: 10pt;
    padding: 0px 6px;
    border-radius: 5px;
    margin: 0px 3px;

    /* background-color: @accent;*/
    /* background-image: linear-gradient(0deg, @accent, shade(alpha(@accent, 0.85), 1.3)); */
    color: @accent_fg_color;
    border: none;
}

/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
    /* color: @theme_unfocused_fg_color; */
    font-size: 12pt;
}

#idle_inhibitor.activated {
    color: @accent;
    font-size: 12pt;
}

/*  WINDOW TITLE  */
#window {
    padding: 0px;
    /*color: #ffffff;*/
    font-weight: bold;
}

/*  WINDOW BUTTONS  */
#custom-toggleActive,
#custom-closeActive {
    color: #f4375d;
    margin: 0px 2px;
    padding: 0 3px;
    min-width: 14px;
}

#custom-toggleActive {
    color: #49c660;
}

/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: @warning_color;
}

/* TRAY CLOCK WINDOW HARDARE BOXS */
#clock {
    font-size: 14pt;
    margin:0px 10px;
    font-family: "Cantarell";
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}

/*-----------------*/
/*     MEDIA       */
/*-----------------*/
#custom-media_play,
#custom-media_prev,
#custom-media_next {
    font-size: 10pt;
    margin: 0px 0px;
    padding: 0px 3px;
    min-width: 18px;
    min-height: 18px;
}

#custom-media_play {
    border-radius: 50%;
    padding: 0px 5px;
    /* background-image: linear-gradient(120deg, @accent, @accent); */
}

#mediaGroup {
    font-size: 10pt;
    padding: 0px 0px;
    margin: 0px 12px;
    border-radius: 4px;
    background-color: @background;
}

#mediaGroup {
    border-radius: 13px;
}

#custom-separator {
    margin: 0px 5px;
    font-size: 8pt;
    color: alpha(@foreground, 0.3);
}

/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓  
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓  
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛  
-----------------------------------------------------------*/


#workspaces button {
    font-size: 12pt;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    border: none;
    margin: 0px;
    /* (top, right, bottom, left) */
    padding: 0px 4px 0px 2px;
    color: @foreground;

}

#workspaces button.empty {
    color: alpha(@foreground, 0.5);
}

#workspaces button:hover {
   
     background-color: alpha(@accent, 0.5); 
    color: @foreground;
   
}

#workspaces button.active {
    color:@foreground;
    border-bottom: 1px solid @foreground ;
}

/*---------------------------------------------------------
    ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
     ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
     ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/

#taskbar button {
    font-size: 8pt;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    border: none;
    margin: 0px 0px;
    padding: 0px 4px;
    color: @foreground;

}

#taskbar button.active {
    background: alpha(@accent, 0.3);
}

#taskbar button:hover {
    background: alpha(@accent, 0.7);
}

#taskbar button.urgent,
#workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* background-color: @warning_color; */
}



/*---------------------------
   ╻  ┏━┓╻ ╻┏━╸╻ ╻┏━╸┏━┓┏━┓  
   ┃  ┣━┫┃ ┃┃  ┣━┫┣╸ ┣┳┛┗━┓  
   ┗━╸╹ ╹┗━┛┗━╸╹ ╹┗━╸╹┗╸┗━┛  
---------------------------*/
#custom-konsole {
    background-image: url("icons/terminal.svg");
}

#custom-dolphin {
    background-image: url("icons/file-manager.svg");
}

#custom-firefox {
    background-image: url("icons/firefox.svg");
}

#custom-dolphin,
#custom-konsole,
#custom-firefox {
    font-size: 1pt;
    color: transparent;
    padding: 0px 0px;
    margin: 0px 5px;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
    background-repeat: no-repeat;
    background-position: center;

}

#custom-konsole.dolphin_running,
#custom-konsole.konsole_running,
#custom-firefox.firefox_running {
    font-size: 1pt;
    color: transparent;
    padding: 0px;
    margin: 0px;
    background-image: url("");
    background-size: 0px;


}

#image.album_art {
margin: 0 10px;

    min-width: 22px;
}

#image.album_art.empty {
    min-width: 22px;
    margin: 0 10px;
    background-image: url("icons/music.svg");
}