
@define-color accent_color #0794B1
@define-color accent_bg_color #1ca9c6
@define-color accent_fg_color #1ca9c6


.window-frame {
  box-shadow: none;
  margin: 0;
}

window.ssd headerbar.titlebar {
  border: none;
  background-image: linear-gradient(to bottom, shade(@theme_bg_color, 1.05), shade(@theme_bg_color, 0.99));
  box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 10px 10px 10px 10px;
}

.window-frame, .window-frame:backdrop {
	  box-shadow: 0 0 0 black;
	    border-style: none;
	      margin: 0;
	        border-radius: 0;
}
	    
.titlebar {
		  border-radius: 0;
  }

/* ----------------------------------------------
   ------------------ XFCE -------------------
 ----------------------------------------------*/
/*
if when implementing the panel color looks a little messy, you can follow these instructions 

Panel Settings
	Top:
	Row size: 4opx
	Length: 1336px
	Fixed icon size: 17px

	Clock Font: Roboto Regular 9
	      Format: " %I:%M %p "

Appearance
	Theme: Adwaita-Dark
	Icons: Papirus-Dark, Gruvbox Plus Dark (for launcher)
	WM Theme: Ant-Bloody
 */



/* -------- Panel -------- */
.xfce4-panel {
	/*background: #080808;*/
        color:@theme_fg_color;
      
	/* border-radius: 4px;*/
        font-family: 'Fira Code';
        font-weight: bold;
        font-size: 12px;
	opacity: 1;
        /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); */
         box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
} 

/* ---- Docklike Bottom Panel ----- */
#docklike-plugin {
	background: @theme_bg_color;
	color:  @theme_fg_color;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 1px solid #96C497; */
        margin: 4px 4px ;
       
      padding: 0 10px;
}





/* ---- Workspace ---- */


#pager-4 #xfce-panel-toggle-button {
        background: @theme_bg_color;
	color:  @theme_fg_color;
        border-radius: 50%;
	margin: 4px 2px;
	padding:0 5px;
        border: 1px solid  @theme_bg_color;
}

#pager-4 #xfce-panel-toggle-button:checked {
        background: shade(@theme_bg_color, 1.60); opacity: 1;
	color: @theme_fg_color;
	margin: 4px 2px;
        border-radius: 50%;
	padding:0 5px;
        border: 1px solid #96C497;
}

#pager-4 #xfce-panel-toggle-button:hover {
        background: #96C497; 
        opacity: 0.9;
	color:  #282828;
        border-radius: 50%;
	padding:0 5px;
	margin: 4px 2px;
        border: 1px solid;
}


/*--------- plugins ---------*/

#xkb-28 button,
#sn-button,
#xfce4-notification-plugin,
#xfce4-sensors-plugin-23 button,
#pulseaudio-button {
        background: @theme_bg_color;
	color: @theme_fg_color;
        border-radius: 15px;
        margin: 4px;
        padding:0 4px;
	border:1px solid shade(@theme_bg_color, 1.2);
}

#xfce4-power-manager-plugin {
        background: @theme_bg_color;
	color: @theme_fg_color;
        border-radius: 15px;
        margin: 4px;
        padding:0 10px;
	border:1px solid shade(@theme_bg_color, 1.2);
}
#xfce4-power-manager-plugin:hover{
background: #96C497; opacity: 0.9;
}
/* -- Power logout Button --- */
#actions-14 button {
        background: #C574DD;
	color: #282828;
        border-radius: 15px;
        margin: 4px;
        padding:0 4px;
	border:1px solid shade(#C574DD, 1.08);
}

/* --- whiskermenu Button --- */
#whiskermenu-button {
	background: #7DBB7F;
	color: #282828;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 4px;
        padding:0 10px;
	border:2px solid #ffffff;
}

#whiskermenu-button:hover{
background: #96C497; 
opacity: 0.7;
color: #282828 ;
}

/* ---------- plugins HOVER ---------*/

#xkb-28 button:hover,
#xfce4-notification-plugin:hover,
#pulseaudio-button:hover,
#actions-14 button:hover {
        background: #96C497; opacity: 0.9;
	color: #282828 ;
        border-radius: 15px;
        margin:4px ;
        padding:0 4px;
border:1px solid #96C497;
}

/* --- Weather && Cloc0k --- */
#weather-3 button,
#clock-button {
        background: @theme_bg_color;
	color: @theme_fg_color;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 4px;
        padding:0 10px;
	border:2px solid #7DBB7F;
}
#weather-3 button:hover,
#clock-button:hover {
        background: #96C497; 
	opacity: 0.9;
	color: #282828 ;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: 4px;
        padding: 0 10px;
        border:2px solid #96C497;
}
/*Note: The launcher ID is obtained by hovering the mouse over the plugin in the panel properties*/

/*#launcher-24  #launcher-arrow:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}

#launcher-28 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 4px;
        padding: 0px;
}

#launcher-28 #launcher-arrow:hover {
        background: #96C497; opacity: 0.9;
        color: #282828 ;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 4px;
        padding: 0px;
}
*/ 