
@define-color accent_color #B126E7;
@define-color accent_bg_color #B126E7;
@define-color accent_fg_color #1ca9c6

button.maximize,
button.minimize,
button.close,
button.maximize:hover,
button.minimize:hover,
button.close:hover {
	background: none;
	border: none;
	margin: 3px 43px;
	padding: 2px;
	min-width: 12px;
	min-height: 12px;
}

button.maximize,
button.minimize,
button.close {
	opacity: 0.7;
	border-radius: 0%;
	text-shadow: none;
	color: rgba(0, 0, 0, 0);
}

button.maximize:hover,
button.maximize {
  background-image: url('max.svg');
  background-repeat: no-repeat;
}

button.minimize:hover,
button.minimize {
  background-image: url('min.svg');
  background-repeat: no-repeat;
}

button.close:hover,
button.close {
  background-image: url('close.svg');
  background-repeat: no-repeat;
}

button.maximize:hover {
  background-image: url('maxh.svg');
  opacity: 1;
}
button.minimize:hover {
  background-image: url('minh.svg');
  opacity: 1;
}

button.close:hover {
  background-image: url('closeh.svg');
  opacity: 1;
}

:backdrop > button.maximize {
  background-image: url('maxb.svg');
  opacity: 0.51;
}
:backdrop > button.minimize {
  background-image: url('minb.svg');
  opacity: 0.51;
}

:backdrop > button.close {
  background-image: url('closeb.svg');
  opacity: 0.51;
}


.window-frame {
  box-shadow: none;
  margin: 0;
}

window.ssd headerbar.titlebar {
  border: none;
  background-image: linear-gradient(to bottom, shade(@theme_bg_color, 1.05), shade(@theme_bg_color, 0.99));
  box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 10px 10px 10px 10px;
}

.window-frame, .window-frame:backdrop {
	  box-shadow: 0 0 0 black;
	    border-style: none;
	      margin: 0;
	        border-radius: 0;
}
	    
.titlebar {
		  border-radius: 0;
  }

/* ----------------------------------------------
   ------------------ XFCE -------------------
 ----------------------------------------------*/
/*
if when implementing the panel color looks a little messy, you can follow these instructions 

Panel Settings
	Top:
	Row size: 4opx
	Length: 1336px
	Fixed icon size: 17px

	Clock Font: Roboto Regular 9
	      Format: " %I:%M %p "

Appearance
	Theme: Adwaita-Dark
	Icons: Papirus-Dark, Gruvbox Plus Dark (for launcher)
	WM Theme: Ant-Bloody
 */



/* -------- Panel -------- */
.xfce4-panel {
	/*background: #080808;*/
	color:@theme_fg_color;
	/* border-radius: 4px;*/
	font-family: 'Fira Code';
	font-weight: bold;
	font-size: 12px;
	border-radius: 6px;
	opacity: 1;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	transition-property: all;
    transition-duration: .5s;
} 

/* ---- Docklike Bottom Panel ----- */
#docklike-plugin {
	background: @theme_bg_color;
	color:  @theme_fg_color;
	border-radius: 0px;
	margin: 4px 0px ;
 border-radius: 6px;  
      
}

#docklike-plugin button {
  /*  background:alpha(@theme_selected_bg_color,0.7);*/
 /*   color:theme_selected_fg_color;*/
    border-radius: 0px;  
    padding:0 6px;
 }

#docklike-plugin .active_group {
	background:alpha(@theme_selected_bg_color,0.9);
	color:theme_selected_fg_color;
    border-radius: 4px;  
 }

#docklike-plugin button:hover {
    background:alpha(@theme_selected_bg_color,0.7);
    color:theme_selected_fg_color;
    border-radius: 4px;  
    
 }


/* ---- PAGER ---- */
.xfce4-panel widget grid  {
	background-color: @theme_bg_color;
	border-radius: 6px;
	margin: 4px 0px ;
}

#pager-5 #xfce-panel-toggle-button {
	background: alpha(@theme_bg_color,0.7);
	color:  alpha(@theme_fg_color,0.6);
	/*border-radius: 2px;*/
	margin: 0px;
	padding: 4px;
	border-radius: 0px; 
       /* border:1px solid shade(@theme_bg_color, 1.2);*/
}


#pager-5 #xfce-panel-toggle-button:checked {
	background:alpha(@theme_selected_bg_color,0.5);
	color:theme_selected_fg_color;
	border-radius: 4px; 
}

#pager-5 #xfce-panel-toggle-button:hover {
	background: @theme_selected_bg_color; 
	color:theme_selected_fg_color;
	border-radius: 4px;
	opacity: 0.9;
}


/*--------- plugins ---------*/
#sn-button-box{
	background: @theme_bg_color; 
	padding: 0 5px; 
	border-radius:6px; 
}

#applicationsmenu-4 button,
#clock-button,
#weather-25 button,
#xkb-28 button,
#sn-button,
#xfce4-notification-plugin,
#xfce4-sensors-plugin-23 button,
#pulseaudio-button ,
#xfce4-power-manager-plugin {
	background: @theme_bg_color;
	color: @theme_fg_color;
	border-radius: 0px;
	margin: 4px 0px;
	padding: 5px;
	border:1px solid shade(@theme_bg_color, 1.2); 
}

#xkb-28 button{
	border-radius:6px 0px 0px 6px; 
} 

#xfce4-notification-plugin{
/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/
	border-radius:0 6px 6px 0;
}

#weather-25 button{
/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/
	border-radius:0 6px 6px 0;
       
       
}
#clock-button{
/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/
	border-radius: 6px 0 0 6px;  
}
/* --- Power --- */
#actions-14 button {
        background-color: #C574DD;
	    color: #282828;
        border-radius: 6px;
        margin: 4px 10px;
        padding: 5px;
	    border:1px solid @theme_bg_color;
}

/* --- Whisker --- */
#whiskermenu-button {
	background-color:alpha(@theme_selected_bg_color,0.7);
	color:theme_selected_fg_color;
	border-radius: 6px;
	margin: 4px 10px;
	padding: 5px;
	border:1px solid @theme_bg_color;
}

/* --- plugins HOVER ---- */
#actions-14 button:hover{
	background-color: #d492e8;     
}

#whiskermenu-button:hover{
	background:shade(@theme_selected_bg_color, 1.08);
}

#applicationsmenu-4 button:hover,
#xkb-28 button:hover,
#xfce4-notification-plugin:hover,
#pulseaudio-button:hover,
#xfce4-power-manager-plugin:hover
{
	background:@theme_selected_bg_color; opacity: 0.9;
	color:theme_selected_fg_color;
	
}



/*Note: The launcher ID is obtained by hovering the mouse over the plugin in the panel properties*/

/*#launcher-24  #launcher-arrow:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}

#launcher-28 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 4px;
        padding: 0px;
}

#launcher-28 #launcher-arrow:hover {
        background: #96C497; opacity: 0.9;
        color: #282828 ;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 4px;
        padding: 0px;
}
*/ 