/*** COLORS VARIABLE ***/

@import "./colors/colors.css";
/*@import "../../.cache/wal/colors-waybar.css";*/

/*** GENERALE ***/
* {
    /* `Nerd Font` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.95);
    transition: all 0.5s ease-in-out;
}

/***  MAIN BAR  ***/

window.main-bar#waybar {
    /* background-image: linear-gradient(90deg, #884FFF,  #FF1F8A); */
    background: alpha(@background, 0);
    color: @foreground;
    transition-property: all;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.5s;
    border-radius: 6px;
    font-size: 10pt;
    font-weight: bold;
    
}

/*window.main-bar .modules-center,*/
#weatherGroup,
#traygroup,
#menugroup {
    background-color: @background;
    padding: 0px 4px;
    margin: 0px 4px;
    border-radius: 6px;
    /* top | right | bottom-right | bottom-left */
    border: 1px solid alpha(@accent, 0.5);
}

/***  MODULES  ***/
label.module{
    padding: 0 2px;
    margin: 0 2px;
    /* top | right | bottom | left */
    min-width: 16px;
    border-radius: 4px;
    border: none;
    background-color: @background;
    color: @foreground;
}

/*-----------------*/
/***    BATTERY  ***/
/*-----------------*/

#battery.charging,
#battery.plugged {
    color: @foreground;
}

#battery.warning {
    color: @warning_color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #ff0000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: #ff0000;*/
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @error_color;
}

/* POWER */
#custom-power {
    padding: 0 3px;
    border-radius: 4px;
    margin: 0px 0px;
    /* background-color: @accent; */
    color: orangered;
    border: none;
}

/* #custom-prayer {
    min-width: 20px;
    color: @foreground;
} */
#custom-menu {
    /* min-width: 20px; */
    margin: 0px 0px;
    color: dodgerblue;
    border: none;
    font-size: 14pt;
}

#custom-separator {
    padding: 0px;
    margin: 0px;
    color: alpha(@foreground, 0.4);
    font-size: 9px;
}

/* ACTIVE/INATIVE INHIBITOR */
#idle_inhibitor.deactivated {
    color: @foreground;
}

#idle_inhibitor.activated {
    color: @accent;
}

/*  WINDOW TITLE  */
#window {
    padding: 0px;
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

/*  WINDOW BUTTONS */
#custom-toggleActive,
#custom-closeActive {
    color: #f4375d;
    margin: 0px 2px;
    padding: 0 3px;
    min-width: 14px;
}

#custom-toggleActive {
    color: #49c660;
}

/*  TEMPERATURE  */
#temperature.critical {
    color: @warning_color;
}

/*  PULSEAUDIO  */
#pulseaudio.muted {
    color: @warning_color;
}

/* TRAY CLOCK WINDOW HARDARE BOXS */


#clock mode {
    color: @accent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
}

#tray{
    margin: 2px;
    padding: 2px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

@keyframes blink-update {
    to {
        background-color: rgb(255, 30, 30);
    }
}

/*-----------------*/
/*     MEDIA       */
/*-----------------*/
#custom-media_play,
#custom-media_prev,
#custom-media_next {
    margin: 0px 0px;
    padding: 0px 3px;
    min-width: 20px;
    min-height: 18px;
}

#mediaGroup {
    padding: 0px 4px;
    margin: 0px 6px;
    border-radius: 4px;
    background-color: @background;
}

#mediaGroup {
    border-radius: 13px;
}

/*---------------------------------------------------------
   ╻ ╻┏━┓┏━┓╻┏ ┏━┓┏━┓┏━┓┏━╸┏━╸┏━┓   ╺┳╸┏━┓┏━┓╻┏ ┏┓ ┏━┓┏━┓
   ┃╻┃┃ ┃┣┳┛┣┻┓┗━┓┣━┛┣━┫┃  ┣╸ ┗━┓    ┃ ┣━┫┗━┓┣┻┓┣┻┓┣━┫┣┳┛
   ┗┻┛┗━┛╹┗╸╹ ╹┗━┛╹  ╹ ╹┗━╸┗━╸┗━┛    ╹ ╹ ╹┗━┛╹ ╹┗━┛╹ ╹╹┗╸
-----------------------------------------------------------*/
#taskGroup,
#workspaces {
    padding: 0px 0px;
    margin: 0px 4px;
    box-shadow: none;
    border-radius: 6px;
    background-position: center;
    background-color: @background;
    border: 1px solid alpha(@accent, 0.5);
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    margin: 0px 1px;
    padding: 0 3px;
    border-radius: 5px;
    color: @foreground;
    background-color: alpha(@accent, 0.25);
    border: 1px solid @background;
}

#workspaces button.empty:hover,
#taskbar button:hover,
#workspaces button:hover {
    background-color: alpha(@foreground, 0.3);

    color: @foreground;

    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.empty {
    color: alpha(@foreground, 0.6);
    background-color: @background;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    margin: 0px 1px;
    padding: 0 2px;
    border-radius: 5px;
    color: @foreground;
    border: 2px solid @background;
    background-color: alpha(@foreground, 0.2);
}

#workspaces button.active,
#taskbar button.active {
    color: @foreground;
    background-color: alpha(@accent, 0.7);
}

#taskbar button.urgent,
#workspaces button.urgent {
    background-color: @warning_color;
}

#image {
    min-height: 20px;
    min-width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 2px;
    padding: 0px 2px;
    font-size: 0pt;
    transition: all 0.5s ease-in-out;
}

#image:hover {
    background-color: @accent;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

#image.empty {
    font-size: 0pt;
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
}
