//  Themes
@import "./src/hyper.scss";

// Btns
@import "./src/btns.scss";

// Slider
//@import "./src/sliders.scss";
// Status
//@import "src/status.scss";
// Sysinfo
@import "./src/sysinfo.scss";

// Sysinfo
//@import "./src/tabs.scss";

//  Notify
@import "src/notify.scss";

* {
    all: unset;
    // font-family: JetBrains Mono;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    font-family: "JetBrainsMono Nerd Font Mono", "FontAwesome", "Amiri";
}

.dock_class {
    padding: 10px;
    color: $white;
    background-color: rgba($color: $black, $alpha: 0.7);
    border-radius: 10px;
}

.bot_box {
    background-color: rgba($color: $black, $alpha: 0);
    border-radius: 10px;
}
