
@define-color accent_color #6F48D3;
@define-color accent_bg_color #6F48D3;
@define-color accent_fg_color #ffffff;
/*@define-color window_bg_color 23262F*/
@define-color window_bg_color #181025;
@define-color window_fg_color white;
@define-color view_bg_color #322844;
@define-color view_fg_color white;

@define-color headerbar_bg_color #181025;
@define-color headerbar_fg_color white;
@define-color dialog_bg_color #181025;
@define-color dialog_fg_color white;

@define-color popover_bg_color #181025;
@define-color popover_fg_color white;

@define-color panel_bg_color #181025;

button.maximize,
button.minimize,
button.close,
button.maximize:hover,
button.minimize:hover,
button.close:hover {
	background: none;
	border: none;
	margin: 3px 3px;
	padding: 2px;
	min-width: 12px;
	min-height: 12px;
}

button.maximize,
button.minimize,
button.close {
	opacity: 0.7;
	border-radius: 0%;
	text-shadow: none;
	color: rgba(0, 0, 0, 0);
}

button.maximize:hover,
button.maximize {
  background-image: url('max.svg');
  background-repeat: no-repeat;
}

button.minimize:hover,
button.minimize {
  background-image: url('min.svg');
  background-repeat: no-repeat;
}

button.close:hover,
button.close {
  background-image: url('close.svg');
  background-repeat: no-repeat;
}

button.maximize:hover {
  background-image: url('maxh.svg');
  opacity: 1;
}
button.minimize:hover {
  background-image: url('minh.svg');
  opacity: 1;
}

button.close:hover {
  background-image: url('closeh.svg');
  opacity: 1;
}

:backdrop > button.maximize {
  background-image: url('maxb.svg');
  opacity: 0.51;
}
:backdrop > button.minimize {
  background-image: url('minb.svg');
  opacity: 0.51;
}

:backdrop > button.close {
  background-image: url('closeb.svg');
  opacity: 0.51;
}


.window-frame {
  box-shadow: none;
  margin: 0;
}

window.ssd headerbar.titlebar {
  border: none;
  background-image: linear-gradient(to bottom, shade(@theme_bg_color, 1.05), shade(@theme_bg_color, 0.99));
  box-shadow: inset 0 1px shade(@theme_bg_color, 1.4);
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 10px 10px 10px 10px;
}

.window-frame, .window-frame:backdrop {
	  box-shadow: 0 0 0 black;
	    border-style: none;
	      margin: 0;
	        border-radius: 0;
}
	    
.titlebar {
		  border-radius: 0;
  }

/* ----------------------------------------------
   ------------------ XFCE -------------------
 ----------------------------------------------*/
/*
if when implementing the panel color looks a little messy, you can follow these instructions 

Panel Settings
	Top:
	Row size: 4opx
	Length: 1336px
	Fixed icon size: 17px

	Clock Font: Roboto Regular 9
	      Format: " %I:%M %p "

Appearance
	Theme: Adwaita-Dark
	Icons: Papirus-Dark, Gruvbox Plus Dark (for launcher)
	WM Theme: Ant-Bloody
 */



/* -------- Panel -------- */
.xfce4-panel {
	/*background: #080808;*/
	color:@theme_fg_color;
	/* border-radius: 4px;*/
	font-family: 'Fira Code';
	font-weight: bold;
	font-size: 12px;

} 

.xfce4-panel *{
	transition-property: all;
    transition-duration: .5s;
	/*text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);*/
}

/* ---- Docklike Bottom Panel ----- */
#docklike-plugin {
	background: alpha(@panel_bg_color,0.8);
	color:  @theme_fg_color;
	margin: 4px 10px ;

	border-radius: 5px;  
}

#docklike-plugin button {
  /*  background:alpha(@theme_selected_bg_color,0.7);*/
  /*   color:theme_selected_fg_color;*/
    border-radius: 0px;  
    padding:0 5px;
}

#docklike-plugin .active_group {
	background:@theme_selected_bg_color;
	background-color:alpha(@theme_selected_bg_color,0.5);
	color:@theme_selected_fg_color;
    border-radius: 4px;  
}

#docklike-plugin button:hover {
    background:@theme_selected_bg_color;
    color:@theme_selected_fg_color;
    border-radius: 5px;  
    
}

/* ------------ PAGER --------------- */
.xfce4-panel widget grid  {
	background-color: alpha(@panel_bg_color,0.8);
	border-radius: 5px;
	margin: 4px 10px ;
    padding:1px
}

#pager-5 #xfce-panel-toggle-button {
	/*background: alpha(@panel_bg_color,0.7);*/
	color:  alpha(@theme_fg_color,0.6);
	/*border-radius: 2px;*/
	margin: 1px;
	padding: 0px;
	border-radius: 1px; 
    /* border:1px solid shade(@panel_bg_color, 1.2);*/
}


#pager-5 #xfce-panel-toggle-button:checked {
	background:@theme_selected_bg_color;
	background-color:alpha(@theme_selected_bg_color,0.5);
	color:@theme_fg_color;
	border-radius: 3px; 
}

#pager-5 #xfce-panel-toggle-button:hover {
	background: @theme_selected_bg_color; 

	color:@theme_fg_color;
	border-radius: 3px;
	
}


/* ------------ systray -----------*/
/*#systray-6,
#sn-button-box{
	background: alpha(@panel_bg_color,0.8); 
	padding: 0 10px; 
	border-radius:0px; 
}*/

#sn-button{ 
 background: alpha(@panel_bg_color,0.8);
 margin: 4px 0px;
 padding: 0px 6px;
border-radius: 0px;
border:none;
}

#sn-button:hover{ 
	background-color: @theme_selected_bg_color;
}


/* ------------ Plugins --------------*/
#actions-14 button,
#applicationsmenu-4 button,
#clock-button,
#weather-25 button,
#xkb-28 button,
#xfce4-notification-plugin,
#xfce4-sensors-plugin-26 label,
#xfce4-power-manager-plugin,
#pulseaudio-button {
	background: alpha(@panel_bg_color,0.8);
	color: @theme_fg_color;
	border-radius: 0px;
	margin: 4px 0px;
	padding: 0px;
	/*border:1px solid shade(@theme_bg_color, 1.2); */
}

#weather-25 button{
padding: 4px 5px;
}

#xkb-28 button{
	border-radius:5px 0px 0px 5px; 
	/*margin-left:10px;*/
} 

#actions-14 button,
#applicationsmenu-4 button{
/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/
	border-radius: 0px 5px 5px 0px;  
    padding:5px 3px;
    font-size:12pt;
}

#clock-button{
/*  border-radius: = [ top-left , top-right, bottom-right,bottom-left ]*/
	border-radius: 0px;  
    padding:3px 5px;
}

/*
#xfce_sensors label ,
#xfce4-sensors-plugin-26 label,
#xfce_sensors button ,
#xfce4-sensors-plugin-26 button{
background: @theme_bg_color;
	border-radius: 5px;
	margin: 4px 0px;
	padding: 4px;
}
*/


/* --- Power --- 
#actions-14 button {
        background-color: transparent;
	    color:@theme_fg_color;
        border-radius: 0px;
        margin: 6px 8px;
        padding: 5px;
	    border:none;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}*/

/* --- Power HOVER ---- */
#actions-14 button:hover {

	background-color: @theme_selected_bg_color;
    
}

/* ----------------- Whisker -------------- */
#whiskermenu-button {
	background: @theme_bg_color;
	background-color:alpha(@theme_selected_bg_color,0.8);
	color:@theme_fg_color;
    font-weight: bold;
	font-size: 14pt;
	/*  border-radius: = [ top-left , top-right, bottom-right ,bottom-left ]*/
	border-radius: 5px 0px 0px 5px;
	margin: 4px 0px;
	padding: 0px 6px;
	/*border:1px solid @theme_bg_color;*/
}

/* --- Whisker hover --- */
#whiskermenu-button:hover{
	background-color:shade(@theme_selected_bg_color, 1.08);
}


#applicationsmenu-4 button:hover,
#xkb-28 button:hover,
#xfce4-notification-plugin:hover,
#xfce4-power-manager-plugin:hover,
#pulseaudio-button:hover
{
	background:@theme_selected_bg_color; opacity: 0.9;
	color:@theme_fg_color;
	
}

#whiskermenu-window {
    padding: 15px;

}

#whiskermenu-window *{
	border-radius:8px;
}

/*Note: The launcher ID is obtained by hovering the mouse over the plugin in the panel properties*/

/*#launcher-24  #launcher-arrow:checked {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
}

#launcher-28 #launcher-arrow {
        background: #282828;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 4px;
        padding: 0px;
}

#launcher-28 #launcher-arrow:hover {
        background: #96C497; opacity: 0.9;
        color: #282828 ;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin: 4px;
        padding: 0px;
}


#whiskermenu-window {
    padding: 15px;
}

#whiskermenu-window  * {
    border: 0px #ccc solid;
    outline: none;
}

#whiskermenu-window  scrollbar {
    background: transparent;
}

#whiskermenu-window  entry {
    background-color: #282c34;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    color: #ccc;
    padding: 5px;
}

#whiskermenu-window  button {
    background-color: #282c34;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    min-width: 40px;
    color: #ccc;  
    margin:2px;
    margin-bottom: 4px;
    margin-right: 4px;
    font-weight: normal;
}

#whiskermenu-window  treeview:selected,
#whiskermenu-window  treeview:hover,
#whiskermenu-window  treeview:active,
#whiskermenu-window  treeview:focus,
{
    background-color: rgba(131, 185, 184, 0.5);
    color: #FFF;
    transition: 200ms;
}


xfce4-popup-whiskermenu -c &&  xdotool search --name 'Whisker Menu' windowmove 408 210


*/ 