<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="ArchLInux"/>
    <item label="تشغيل تطبيق" icon="/home/youcef/.config/obmenu-generator/icons/243dae5db725e535a76161f84bef7996.png"><action name="Execute"><command><![CDATA[rofi -show run]]></command></action></item>
    <item label="الطرفية" icon="/home/youcef/.config/obmenu-generator/icons/8a8a8163efadef55ff4f51a0ee60c704.png"><action name="Execute"><command><![CDATA[elokab-terminal]]></command></action></item>
    <item label="متصفح الويب" icon="/home/youcef/.config/obmenu-generator/icons/1232b2aba829668859c6b132915f819f.png"><action name="Execute"><command><![CDATA[firefox]]></command></action></item>
    <item label="مدير الملفات" icon="/home/youcef/.config/obmenu-generator/icons/ebdcc549e49a31f8324faf10b0626d72.png"><action name="Execute"><command><![CDATA[elokab-fm]]></command></action></item>
    <item label="محرر النصوص" icon="/home/youcef/.config/obmenu-generator/icons/947cb2b835bca55577cd9adbf8373456.png"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
  <separator/>
  <menu id="0.915213021290587" icon="/home/youcef/.config/obmenu-generator/icons/2b71336b25aa340f0012426790818e59.png" label="كل التطبيقات">
  <menu id="0.429418505259918" icon="/home/youcef/.config/obmenu-generator/icons/e7bc95c346232be328c575c679d2355c.png" label="ملحقات">
    <item label="Character Map" icon="/home/youcef/.config/obmenu-generator/icons/99c9e5ae54d31ae9d41bf97d5a10bdb4.png"><action name="Execute"><command><![CDATA[gucharmap]]></command></action></item>
    <item label="Code - OSS" icon="/home/youcef/.config/obmenu-generator/icons/92da6c5592403155d5b90447c4b4abc8.png"><action name="Execute"><command><![CDATA[code-oss --unity-launch]]></command></action></item>
    <item label="compton" icon="/home/youcef/.config/obmenu-generator/icons/cf5ced23d1ce5460c5d3dd9445f0c1db.png"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="Conky Manager" icon="/home/youcef/.config/obmenu-generator/icons/ac6651e3b11c550406f86d5dbc772619.png"><action name="Execute"><command><![CDATA[conky-manager]]></command></action></item>
    <item label="DB Browser for SQLite" icon="/home/youcef/.config/obmenu-generator/icons/5fe678927ec9d58cfb5632e62b20f3e4.png"><action name="Execute"><command><![CDATA[sqlitebrowser]]></command></action></item>
    <item label="File Manager PCManFM" icon="/home/youcef/.config/obmenu-generator/icons/368222792500a58431ce09aa9c861795.png"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="gxkb" icon="/home/youcef/.config/obmenu-generator/icons/bce74d11cda59b926fef113429b2bf55.png"><action name="Execute"><command><![CDATA[gxkb]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/youcef/.config/obmenu-generator/icons/a621b1b5caa75809bc24a348105b492d.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="nitrogen" icon="/home/youcef/.config/obmenu-generator/icons/8df4a0f2417bc5e7a9de7e0f6230c494.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Plank" icon="/home/youcef/.config/obmenu-generator/icons/c56a915f40b647b40361c032e6fed9bf.png"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="Redshift" icon="/home/youcef/.config/obmenu-generator/icons/e5a50da74b11e8b96871702c3a2b386f.png"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Safe Eyes" icon="/home/youcef/.config/obmenu-generator/icons/f2831dc6239ae46bdfac378a7c980359.png"><action name="Execute"><command><![CDATA[env GDK_BACKEND=x11 safeeyes]]></command></action></item>
    <item label="Vim" icon="/home/youcef/.config/obmenu-generator/icons/626b39fec3ade2926da50091fcce787e.png"><action name="Execute"><command><![CDATA[elokab-terminal -e 'vim']]></command></action></item>
    <item label="Xarchiver" icon="/home/youcef/.config/obmenu-generator/icons/1f149401f3580c10b1bead1b25455105.png"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
  </menu>
  <menu id="0.310579828024981" icon="/home/youcef/.config/obmenu-generator/icons/a0143874b0974c14518f2a07c89ed437.png" label="النظام">
    <item label="Add/Remove Software" icon="/home/youcef/.config/obmenu-generator/icons/2f51a6321b6a522ba6d8f48199edf4bb.png"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Avahi Zeroconf Browser" icon="/home/youcef/.config/obmenu-generator/icons/3f058b89f1aeafc42a4b3c929e0de3ed.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="BleachBit" icon="/home/youcef/.config/obmenu-generator/icons/6ed7f7620078ead701d0dce70805854f.png"><action name="Execute"><command><![CDATA[bleachbit]]></command></action></item>
    <item label="conky" icon="/home/youcef/.config/obmenu-generator/icons/f9b6aee775daa4132d112ea8a5e2bbb1.png"><action name="Execute"><command><![CDATA[conky --daemonize --pause=1]]></command></action></item>
    <item label="Connman UI Setup" icon="/home/youcef/.config/obmenu-generator/icons/a9bb34063ab09c6cb2af58a38885de92.png"><action name="Execute"><command><![CDATA[cmst]]></command></action></item>
    <item label="Cool Retro Term" icon="/home/youcef/.config/obmenu-generator/icons/3f31873aafa2925032ef61c663b3f5f9.png"><action name="Execute"><command><![CDATA[cool-retro-term]]></command></action></item>
    <item label="Elokab Fm" icon="/home/youcef/.config/obmenu-generator/icons/368222792500a58431ce09aa9c861795.png"><action name="Execute"><command><![CDATA[elokab-fm]]></command></action></item>
    <item label="Elokab Terminal" icon="/home/youcef/.config/obmenu-generator/icons/8a8a8163efadef55ff4f51a0ee60c704.png"><action name="Execute"><command><![CDATA[elokab-terminal]]></command></action></item>
    <item label="File Manager PCManFM" icon="/home/youcef/.config/obmenu-generator/icons/368222792500a58431ce09aa9c861795.png"><action name="Execute"><command><![CDATA[pcmanfm]]></command></action></item>
    <item label="Htop" icon="/home/youcef/.config/obmenu-generator/icons/e7bc95c346232be328c575c679d2355c.png"><action name="Execute"><command><![CDATA[elokab-terminal -e 'htop']]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/youcef/.config/obmenu-generator/icons/a621b1b5caa75809bc24a348105b492d.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="ranger" icon="/home/youcef/.config/obmenu-generator/icons/8a8a8163efadef55ff4f51a0ee60c704.png"><action name="Execute"><command><![CDATA[elokab-terminal -e 'ranger']]></command></action></item>
    <item label="Software Update" icon="/home/youcef/.config/obmenu-generator/icons/bfe1d02cea967ca6e7e4de07372df57a.png"><action name="Execute"><command><![CDATA[pamac-manager --updates]]></command></action></item>
    <item label="urxvt (client)" icon="/home/youcef/.config/obmenu-generator/icons/8a8a8163efadef55ff4f51a0ee60c704.png"><action name="Execute"><command><![CDATA[urxvtc]]></command></action></item>
    <item label="urxvt (tabbed)" icon="/home/youcef/.config/obmenu-generator/icons/8a8a8163efadef55ff4f51a0ee60c704.png"><action name="Execute"><command><![CDATA[urxvt-tabbed]]></command></action></item>
    <item label="urxvt" icon="/home/youcef/.config/obmenu-generator/icons/8a8a8163efadef55ff4f51a0ee60c704.png"><action name="Execute"><command><![CDATA[urxvt]]></command></action></item>
    <item label="UXTerm" icon="/home/youcef/.config/obmenu-generator/icons/b17d506ad4e4060f5d055ed96e39c221.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="XTerm" icon="/home/youcef/.config/obmenu-generator/icons/b17d506ad4e4060f5d055ed96e39c221.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <menu id="0.208273283528747" icon="/home/youcef/.config/obmenu-generator/icons/1646a5d9f6206bd0435ee7ea5a2cacef.png" label="الرسومات">
    <item label="Color picker" icon="/home/youcef/.config/obmenu-generator/icons/dc6ee09c17e033c03e38529f80d4bd27.png"><action name="Execute"><command><![CDATA[gcolor3]]></command></action></item>
    <item label="GNU Image Manipulation Program" icon="/home/youcef/.config/obmenu-generator/icons/d202f339457c057af7dea96741c11f54.png"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Inkscape" icon="/home/youcef/.config/obmenu-generator/icons/ac84c5e8ee2d26beeb999b72441050e0.png"><action name="Execute"><command><![CDATA[inkscape]]></command></action></item>
    <item label="Viewnior" icon="/home/youcef/.config/obmenu-generator/icons/b4c4a4bcc458629dcb2164552a96ef87.png"><action name="Execute"><command><![CDATA[viewnior]]></command></action></item>
  </menu>
  <menu id="0.65546186281161" icon="/home/youcef/.config/obmenu-generator/icons/bca836a1cfd6b83cac8e6025c64ae870.png" label="الوسائط">
    <item label="EasyTAG" icon="/home/youcef/.config/obmenu-generator/icons/4683fc8329da45033fe780ebed781e12.png"><action name="Execute"><command><![CDATA[easytag]]></command></action></item>
    <item label="goldfinch" icon="/home/youcef/.config/obmenu-generator/icons/29dc6f6e1f9f76710187e4ed1a64ad03.png"><action name="Execute"><command><![CDATA[goldfinch]]></command></action></item>
    <item label="Kid3-qt" icon="/home/youcef/.config/obmenu-generator/icons/4683fc8329da45033fe780ebed781e12.png"><action name="Execute"><command><![CDATA[kid3-qt]]></command></action></item>
    <item label="PulseAudio Volume Control" icon="/home/youcef/.config/obmenu-generator/icons/375fdfa45d789937ef9d723c25101e75.png"><action name="Execute"><command><![CDATA[pavucontrol-qt]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/home/youcef/.config/obmenu-generator/icons/d7d8f5be7f1deba3edfc184eaf09f566.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Qt V4L2 video capture utility" icon="/home/youcef/.config/obmenu-generator/icons/fed3b2cf5d8ca7e1454a7ac6edc29835.png"><action name="Execute"><command><![CDATA[qvidcap]]></command></action></item>
    <item label="VLC media player" icon="/home/youcef/.config/obmenu-generator/icons/1d16cc46ff1fd6e9f90843818f483fc0.png"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Volume Icon" icon="/home/youcef/.config/obmenu-generator/icons/375fdfa45d789937ef9d723c25101e75.png"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
  </menu>
  <menu id="0.0525706170446796" icon="/home/youcef/.config/obmenu-generator/icons/b55b210f0d03e4a8e2048a836322ff1b.png" label="الانترنت">
    <item label="Avahi SSH Server Browser" icon="/home/youcef/.config/obmenu-generator/icons/3f058b89f1aeafc42a4b3c929e0de3ed.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/youcef/.config/obmenu-generator/icons/3f058b89f1aeafc42a4b3c929e0de3ed.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Connman UI Setup" icon="/home/youcef/.config/obmenu-generator/icons/a9bb34063ab09c6cb2af58a38885de92.png"><action name="Execute"><command><![CDATA[cmst]]></command></action></item>
    <item label="Firefox" icon="/home/youcef/.config/obmenu-generator/icons/1232b2aba829668859c6b132915f819f.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="uGet" icon="/home/youcef/.config/obmenu-generator/icons/bd603fea3d3048c625cb00a8a3ded2e1.png"><action name="Execute"><command><![CDATA[env GDK_BACKEND=x11 uget-gtk]]></command></action></item>
  </menu>
  <menu id="0.638998093685895" icon="/home/youcef/.config/obmenu-generator/icons/2a70d931375235297cce5b967d33eb6d.png" label="التطوير">
    <item label="CMake" icon="/home/youcef/.config/obmenu-generator/icons/01b3cfac4249074161c1c26c6fba3c1b.png"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Code - OSS" icon="/home/youcef/.config/obmenu-generator/icons/92da6c5592403155d5b90447c4b4abc8.png"><action name="Execute"><command><![CDATA[code-oss --unity-launch]]></command></action></item>
    <item label="DB Browser for SQLite" icon="/home/youcef/.config/obmenu-generator/icons/5fe678927ec9d58cfb5632e62b20f3e4.png"><action name="Execute"><command><![CDATA[sqlitebrowser]]></command></action></item>
    <item label="Electron" icon="/home/youcef/.config/obmenu-generator/icons/0334ca83a074789d74a0a4de7c84ac8f.png"><action name="Execute"><command><![CDATA[electron]]></command></action></item>
    <item label="Geany" icon="/home/youcef/.config/obmenu-generator/icons/911f88d2af2dc7954534277250c8bddd.png"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="Qt Assistant" icon="/home/youcef/.config/obmenu-generator/icons/31de88b7b3754eb3a01975369451a625.png"><action name="Execute"><command><![CDATA[assistant]]></command></action></item>
    <item label="Qt Creator" icon="/home/youcef/.config/obmenu-generator/icons/ba1b9f6085a149c23a1cd7dc70268459.png"><action name="Execute"><command><![CDATA[qtcreator]]></command></action></item>
    <item label="Qt Designer" icon="/home/youcef/.config/obmenu-generator/icons/7beb423fe895a9882fd9554066f8d9a8.png"><action name="Execute"><command><![CDATA[designer]]></command></action></item>
    <item label="Qt Linguist" icon="/home/youcef/.config/obmenu-generator/icons/31de88b7b3754eb3a01975369451a625.png"><action name="Execute"><command><![CDATA[linguist]]></command></action></item>
    <item label="Qt QDbusViewer" icon="/home/youcef/.config/obmenu-generator/icons/31de88b7b3754eb3a01975369451a625.png"><action name="Execute"><command><![CDATA[qdbusviewer]]></command></action></item>
  </menu>
  <menu id="0.436017917510149" icon="/home/youcef/.config/obmenu-generator/icons/335ee85a385c42312eb5590d42dd1f39.png" label="المكتب">
    <item label="AbiWord" icon="/home/youcef/.config/obmenu-generator/icons/3587e4ba25cbb345b3c99e3718665c41.png"><action name="Execute"><command><![CDATA[abiword]]></command></action></item>
    <item label="BooksOrg" icon="/home/youcef/.config/obmenu-generator/icons/f02e7689abb02a3a256a5b0bb802b0e9.png"><action name="Execute"><command><![CDATA[booksorg]]></command></action></item>
    <item label="Prayer Time" icon="/home/youcef/.config/obmenu-generator/icons/ec6bc2d1e032994fde1ba25b37c88b56.png"><action name="Execute"><command><![CDATA[elokab-adhan]]></command></action></item>
    <item label="Zathura" icon="/home/youcef/.config/obmenu-generator/icons/51442d9a16a90e3e87519b1bc898cdbe.png"><action name="Execute"><command><![CDATA[zathura]]></command></action></item>
  </menu>
  <menu id="0.108846188746984" icon="/home/youcef/.config/obmenu-generator/icons/419c5e137b31c2d091b56e5eb192f4b9.png" label="اعدادات">
    <item label="Add/Remove Software" icon="/home/youcef/.config/obmenu-generator/icons/2f51a6321b6a522ba6d8f48199edf4bb.png"><action name="Execute"><command><![CDATA[pamac-manager]]></command></action></item>
    <item label="Advanced Network Configuration" icon="/home/youcef/.config/obmenu-generator/icons/3f058b89f1aeafc42a4b3c929e0de3ed.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Connman Settings" icon="/home/youcef/.config/obmenu-generator/icons/3f058b89f1aeafc42a4b3c929e0de3ed.png"><action name="Execute"><command><![CDATA[connman-gtk]]></command></action></item>
    <item label="Connman UI Setup" icon="/home/youcef/.config/obmenu-generator/icons/a9bb34063ab09c6cb2af58a38885de92.png"><action name="Execute"><command><![CDATA[cmst]]></command></action></item>
    <item label="Customize Look and Feel" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Desktop Preferences" icon="/home/youcef/.config/obmenu-generator/icons/0aee2cfb76dcd92c2320298501eab38b.png"><action name="Execute"><command><![CDATA[pcmanfm --desktop-pref]]></command></action></item>
    <item label="Firewall Configuration" icon="/home/youcef/.config/obmenu-generator/icons/d85b2a17bd4042924642b86f5c42a3a8.png"><action name="Execute"><command><![CDATA[gufw]]></command></action></item>
    <item label="LightDM GTK+ Greeter settings" icon="/home/youcef/.config/obmenu-generator/icons/a621b1b5caa75809bc24a348105b492d.png"><action name="Execute"><command><![CDATA[lightdm-gtk-greeter-settings-pkexec]]></command></action></item>
    <item label="Oomox: customize icons and GTK themes" icon="/home/youcef/.config/obmenu-generator/icons/1e8e806e4bf26fa8191b0987ef1dfd25.png"><action name="Execute"><command><![CDATA[oomox-gui]]></command></action></item>
    <item label="Preferred Applications" icon="/home/youcef/.config/obmenu-generator/icons/419c5e137b31c2d091b56e5eb192f4b9.png"><action name="Execute"><command><![CDATA[libfm-pref-apps]]></command></action></item>
    <item label="Qt5 Settings" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Screensaver" icon="/home/youcef/.config/obmenu-generator/icons/dae200c19f8a07008f83079caf8f8cce.png"><action name="Execute"><command><![CDATA[xscreensaver-demo]]></command></action></item>
    <item label="Software Update" icon="/home/youcef/.config/obmenu-generator/icons/bfe1d02cea967ca6e7e4de07372df57a.png"><action name="Execute"><command><![CDATA[pamac-manager --updates]]></command></action></item>
    <item label="Window Effects" icon="/home/youcef/.config/obmenu-generator/icons/cf5ced23d1ce5460c5d3dd9445f0c1db.png"><action name="Execute"><command><![CDATA[compton-conf]]></command></action></item>
  </menu>
  </menu>
  <separator/>
  <menu id="0.986849206325815" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png" label="التفظيلات">
    <item label="الخلفية" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
  <separator/>
    <item label="المظهر" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="اعدادات مدير الولوج" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[pkexec lightdm-gtk-greeter-settings]]></command></action></item>
    <item label="Rofi مظهر" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[rofi-theme-selector]]></command></action></item>
    <item label="Qt مظهر" icon="/home/youcef/.config/obmenu-generator/icons/0386190621a8a986aa6b4339a90f2721.png"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="compositor" icon="/home/youcef/.config/obmenu-generator/icons/a0143874b0974c14518f2a07c89ed437.png"><action name="Execute"><command><![CDATA[paranoid.py]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.0731217393347769" icon="/home/youcef/.config/obmenu-generator/icons/d4238eb70216d1c2ee88e0225c667b9d.png" label="أوبن بوكس">
    <item label="تحرير menu.xml" icon="/home/youcef/.config/obmenu-generator/icons/0582f17f9a83b4e0aa0cb518a4b9baae.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="تحرير rc.xml" icon="/home/youcef/.config/obmenu-generator/icons/0582f17f9a83b4e0aa0cb518a4b9baae.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="تحرير autostart" icon="/home/youcef/.config/obmenu-generator/icons/0582f17f9a83b4e0aa0cb518a4b9baae.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
  <separator/>
    <item label="اعدادات اوبن بوكس" icon="/home/youcef/.config/obmenu-generator/icons/d4238eb70216d1c2ee88e0225c667b9d.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="اختصارات المفاتيح" icon="/home/youcef/.config/obmenu-generator/icons/d4238eb70216d1c2ee88e0225c667b9d.png"><action name="Execute"><command><![CDATA[obkey]]></command></action></item>
  <separator/>
    <item label="اعد تحميل أوبن بوكس" icon="/home/youcef/.config/obmenu-generator/icons/d4238eb70216d1c2ee88e0225c667b9d.png"><action name="Execute"><command><![CDATA[openbox --restart]]></command></action></item>
    <item label="تحديث اعدادات أوبن بوكس" icon="/home/youcef/.config/obmenu-generator/icons/d4238eb70216d1c2ee88e0225c667b9d.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  <separator/>
  <menu id="0.57032022321571" icon="/home/youcef/.config/obmenu-generator/icons/f84509ef78fbb066ca84d983e92bacab.png" label="مولد القوائم">
    <item label="Menu Schema" icon="/home/youcef/.config/obmenu-generator/icons/7dbe2cef63192376aa2717de7c822e3d.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/youcef/.config/obmenu-generator/icons/7dbe2cef63192376aa2717de7c822e3d.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="ولد قائمة قياسية" icon="/home/youcef/.config/obmenu-generator/icons/f84509ef78fbb066ca84d983e92bacab.png"><action name="Execute"><command><![CDATA[~/.config/obmenu-generator/obmenu-generator -s -c]]></command></action></item>
    <item label="ولد قائمة قياسية مع ايقونات" icon="/home/youcef/.config/obmenu-generator/icons/f84509ef78fbb066ca84d983e92bacab.png"><action name="Execute"><command><![CDATA[~/.config/obmenu-generator/obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="تحديث الايقونات" icon="/home/youcef/.config/obmenu-generator/icons/aa482997bdf84268590075118dbf70eb.png"><action name="Execute"><command><![CDATA[~/.config/obmenu-generator/obmenu-generator -d]]></command></action></item>
  </menu>
  <separator/>
    <item label="قفل الشاشة" icon="/home/youcef/.config/obmenu-generator/icons/90b4ab5f312a75913858126f80ab80fa.png"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="الخروج" icon="/home/youcef/.config/obmenu-generator/icons/c961ddbfd3ca54d54f6bb800feb883cb.png"><action name="Execute"><command><![CDATA[~/.config/openbox/rofi-sh -l]]></command></action></item>
  </menu>
</openbox_menu>
